@using Neosinerji.BABOnlineTP.Web.Content.Lang
@using Neosinerji.BABOnlineTP.Web.Areas.Manage.Models
@using Neosinerji.BABOnlineTP.Database.Models
@using menu = Neosinerji.BABOnlineTP.Business.Common
@using Neosinerji.BABOnlineTP.Business.Common
@model MapfreKullaniciDetayModel

@{
    bool guncellemeYetkisi = false;

    List<KullaniciYetkiModel> sekmeler = ViewBag.Sekmeler;
    KullaniciYetkiModel sekme = sekmeler.Where(s => s.SekmeKodu == menu.AltMenuSekmeler.MapfreKullaniciTanimlama).FirstOrDefault();

    if (sekme != null)
    {
        if (sekme.Degistirme == 1)
        { guncellemeYetkisi = true; }
    }
}

@section HorizontalMenu
{
   <ul class="nav">
    <li>
        <a href="/Manage/MapfreKullanici/Liste">@babonline.SearchUser<span></span></a>
    </li>
    <li class="active">
        <a href="#">@babonline.Detail<span class="selected"></span></a>
    </li>
        <li>
            <span class="hor-menu-search-form-toggler">&nbsp;</span>
            <div class="search-form hidden-phone hidden-tablet">
                <form class="form-search">
                    <div class="input-append">
                        <input type="text" placeholder="@babonline.Search2" class="m-wrap">
                        <button type="button" class="btn"></button>
                    </div>
                </form>
            </div>
        </li>
    </ul>
}

@section PageHeader
{

}

@section PageScripts
{

}

@if (Model.KullaniciId > 0)
{
    <div id="main">@Html.Partial("_DetayPartial", Model)</div>
}
else
{
    <div class="row-fluid">
        <div class="span12">
            <div class="box corner-all">
                <div class="box-body">
                    <div class="portlet box light-grey " style="margin-top: 24px;">
                        <div class="portlet-title">
                            <div class="caption"><i class="icon-reorder"></i>@babonline.UserInfo</div>
                        </div>
                        <div class="portlet-body form">
                            <form class="form-horizontal form-view">
                                <div class="alert alert-info">
                                    <strong>@babonline.Info ! </strong>@babonline.NoSuchUser.
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}