@using Neosinerji.BABOnlineTP.Web.Content.Lang
@using Neosinerji.BABOnlineTP.Web.Areas.Manage.Models
@model TUMUrunleriListModel

<script>
    $(document).ready(function () {
        var urunTable;
        function urunTableSet() {
            urunTable = $('#urunler-table').dataTable({
                "bPaginate": true,
                "bLengthChange": false,
                "iDisplayLength": 5,
                "bFilter": false,
                "bInfo": false,
                "bAutoWidth": false,
                "sPaginationType": "full_numbers",
                "sPaginationType": "bootstrap"
            });
        }

        urunTableSet();
    });

</script>

<table id="urunler-table" class="table table-bordered table-striped responsive data-table">
    <thead>
        <tr>
            <th style="width: 150px;">@babonline.BABOnline_ProductCode</th>
            <th>@babonline.Product_Code</th>
            <th>@babonline.Product_Name</th>
            <th>@babonline.Branch_Name</th>
            <th style="width: 50px;">&nbsp;</th>
            <th style="width: 40px;">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td style="text-align: center; width: 100px;">@item.BABOnlineUrunKodu</td>
                <td>@item.TUMUrunKodu</td>
                <td>@item.TUMUrunAdi</td>
                <td>@item.TUMBransAdi</td>
                <td style="text-align: center;">
                    <a href="javascript:void(0)" babonline-urun-kodu="@item.BABOnlineUrunKodu" urun-kodu="@item.TUMUrunKodu" tum-kodu="@item.TUMKodu" class="btn btn-mini btn-info edit-urun">@babonline.Edit</a>
                </td>
                <td style="text-align: center;">
                    <a href="javascript:void(0)" babonline-urun-kodu="@item.BABOnlineUrunKodu" urun-kodu="@item.TUMUrunKodu" tum-kodu="@item.TUMKodu" class="btn btn-mini btn-danger delete-urun">@babonline.Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
