@using Neosinerji.BABOnlineTP.Web.Content.Lang
@using Neosinerji.BABOnlineTP.Web.Areas.Manage.Models
@model TUMEkleModel

@section HorizontalMenu
{
    <ul class="nav">
        <li>
            <a href="/Manage/TUM/Liste">@babonline.TUM_Search<span></span></a>
        </li>
        <li class="active">
            <a href="#">@babonline.TUM_Add<span class="selected"></span></a>
        </li>
        <li>
            <span class="hor-menu-search-form-toggler">&nbsp;</span>
            <div class="search-form hidden-phone hidden-tablet">
                <form class="form-search">
                    <div class="input-append">
                        <input type="text" placeholder="@babonline.Search2" class="m-wrap">
                        <button type="button" class="btn"></button>
                    </div>
                </form>
            </div>
        </li>
    </ul>
}

@section PageHeader
{

}
@section PageScripts
{<script src="~/Content/js/bootstrap-formhelpers-phone.js"></script>
    <script>
        $(document).ready(function () {
            $("[rel=tooltip]").tooltip();

            //Ülke - il - ilçe
            $('#UlkeKodu').ulke({ il: '#IlKodu', ilce: '#IlceKodu' });
        });
    </script>
}
<div class="portlet box light-grey " style="margin-top: 24px;">
    <div class="portlet-title">
        <div class="caption"><i class="icon-reorder"></i>@babonline.AddTUM</div>
    </div>
    <div class="portlet-body form">
        @using (Html.BeginForm("Ekle", "TUM", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            Html.EnableClientValidation(true);
            @Html.ValidationSummary(true, @babonline.Message_GenericErrorHeader)
            @Html.AntiForgeryToken()
    
            <div class="control-group">
                <label class="control-label">@babonline.TUM_Code <span class="required">*</span></label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Kodu, new { maxlength = 6, autocompletetype = "disabled", style = "width:100px;" })
                    @Html.ValidationMessageFor(m => m.Kodu)
                </div>
            </div>                 
            <div class="control-group">
                <label class="control-label">@babonline.TUM_Title   <span class="required">*</span></label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Unvani, new { maxlength = 50, autocompletetype = "disabled", style = "width:90%;", @class = "onlyalpha" })
                    @Html.ValidationMessageFor(m => m.Unvani)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@babonline.TUM_UnityCode</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.BirlikKodu, new { maxlength = 50, autocompletetype = "disabled", style = "width:90%;" })
                    @Html.ValidationMessageFor(m => m.BirlikKodu)
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">@babonline.TaxOffice   <span class="required">*</span></label>

                        <div class="controls">
                            @Html.TextBoxFor(m => m.VergiDairesi, new { maxlength = 30, autocompletetype = "disabled", style = "width:90%;", @class = "onlyalpha" })
                            @Html.ValidationMessageFor(m => m.VergiDairesi)
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">@babonline.TaxNumber  <span class="required">*</span></label>

                        <div class="controls">
                            @Html.TextBoxFor(m => m.VergiNumarasi, new { maxlength = 10, autocompletetype = "disabled", style = "width:90%;", @class = "onlynumbers" })
                            @Html.ValidationMessageFor(m => m.VergiNumarasi)
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="control-group">
                <label class="control-label">@babonline.PricingCode</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.UcretlendirmeKodu, new { maxlength = 5, autocompletetype = "disabled", style = "width:100px;", @class = "onlynumbers" })
                    @Html.ValidationMessageFor(m => m.UcretlendirmeKodu)
                </div>
            </div>
                
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">@babonline.Status</label>
                        <div class="controls">
                            <label class="control">
                                <span class="label label-success">@babonline.Active</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label"></label>
                        <div class="controls">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">@babonline.StartDate</label>
                        <div class="controls">
                            @Html.TextBox(@babonline.StartDate, string.Format("{0:d}", Model.TUMBaslangicTarihi), new { style = "width:100px", disabled = "disabled" })
                            @Html.ValidationMessageFor(m => m.TUMBaslangicTarihi)
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">@babonline.EndDate</label>
                        <div class="controls">
                            @Html.DateTextBoxFor(m => m.TUMBitisTarihi, null)
                            @Html.ValidationMessageFor(m => m.TUMBitisTarihi)
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="form-section">@babonline.Contact_Info</h3>
           
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">@babonline.Phone <span class="required">*</span></label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Telefon, new { style = "width:90%", data_format = "dd-ddd-ddddddd", maxlength = 14, minlength = 14, pattern = ".{14,14}", @class = "input-medium bfh-phone", placeholder = "90-212-5554477", title = babonline.Message_PhoneFormat })
                            @Html.ValidationMessageFor(m => m.Telefon)
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">@babonline.Fax_Number <span class="required">*</span></label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Fax, new { style = "width:90%", data_format = "dd-ddd-ddddddd", maxlength = 14, minlength = 14, pattern = ".{14,14}", @class = "input-medium bfh-phone", placeholder = "90-212-5554477", title = babonline.Message_PhoneFormat })
                            @Html.ValidationMessageFor(m => m.Fax)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">@babonline.Email_Adress <span class="required">*</span></label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Email, new { style = "width:90%;", placeholder = "ornek@ornek.com" })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">@babonline.Web_URL<span class="required">*</span></label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.WebAdresi, new { style = "width:90%;", placeholder = "www.ornek.com" })
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="form-section">@babonline.Address_Info</h3>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">@babonline.Country <span class="required">*</span></label>
                        <div class="controls">
                            @Html.DropDownListFor(m => m.UlkeKodu, Model.Ulkeler, new { style = "width:90%;" })
                            @Html.ValidationMessageFor(m => m.UlkeKodu)
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">@babonline.Neighborhood <span class="required">*</span></label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Semt, new { maxlength = 50, autocompletetype = "disabled", style = "width:90%;" })
                            @Html.ValidationMessageFor(m => m.Semt)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">@babonline.City<span class="required">*</span></label>
                        <div class="controls">
                            @Html.DropDownListFor(m => m.IlKodu, Model.Iller, new { style = "width:90%;" })
                            @Html.ValidationMessageFor(m => m.IlKodu)
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">@babonline.Address<span class="required">*</span></label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Adres, new { maxlength = 200, autocompletetype = "disabled", style = "width:90%;" })
                            @Html.ValidationMessageFor(m => m.Adres)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">@babonline.District <span class="required">*</span></label>
                        <div class="controls">
                            @Html.DropDownListFor(m => m.IlceKodu, Model.IlceLer, new { style = "width:90%;" })
                            @Html.ValidationMessageFor(m => m.IlceKodu)
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="form-section">@babonline.Security_Info</h3>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">@babonline.ConnectionLimit  <span class="required">*</span></label>

                        <div class="controls radio-custom">
                            @Html.RadioButtonListFor(m => m.BaglantiSiniri, Model.BaglantiSiniriVarYok)
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <button class="btn btn-success"><i class="icon-ok">&nbsp;</i>@babonline.Save</button>
                <a class="btn" href="~/Manage/TUM/Liste">@babonline.Cancel</a>
            </div>
        }
    </div>
</div>
