@using Neosinerji.BABOnlineTP.Web.Content.Lang
<ul class="nav">
    <li class="">
        <a href="/TVM/TVM">Performansım<span class="selected"></span></a>
    </li>
    <li>
        <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">@babonline.NewProposal<span class="arrow"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">@babonline.TrafficInsurance</a></li>
            <li><a href="#">@babonline.DamageInsurance</a></li>
            <li><a href="#">@babonline.HomeInsurance</a></li>
        </ul>
        <b class="caret-out"></b>
    </li>
    <li>
        <span class="hor-menu-search-form-toggler">&nbsp;</span>
        <div class="search-form hidden-phone hidden-tablet">
            <form class="form-search">
                <div class="input-append">
                    <input type="text" placeholder="@babonline.Search2" class="m-wrap">
                    <button type="button" class="btn"></button>
                </div>
            </form>
        </div>
    </li>
</ul>