@using Neosinerji.BABOnlineTP.Web.Content.Lang
@using Neosinerji.BABOnlineTP.Web.Areas.Teklif.Models
@model EgitimDetayPartialModel


<h3 class="form-section">@babonline.General_Information</h3>
<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.InsureNameAndSurname</label>
            <div class="controls">
                <label class="control">@Model.AdSoyad</label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@babonline.Premium_Payment_Period</label>
            <div class="controls">
                <label class="control">@Model.OdemeDonemiText</label>
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label">@babonline.AnnualRepaymentAmount</label>
            <div class="controls">
                <label class="control">@Model.GeriOdemelerdeAlnckYT</label>
            </div>
        </div>
    </div>

    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.Insurance_Start_Date</label>
            <div class="controls">
                <label class="control">@Model.SigortaBaslangicTarihi</label>
            </div>
        </div>
         <div class="control-group">
            <label class="control-label">@babonline.Insurance_Duration</label>
            <div class="controls">
                <label class="control">@Model.SigortaSuresi</label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@babonline.InsuranceReimbursementTime</label>
            <div class="controls">
                <label class="control">@Model.SigortaGeriOdemeSuresi</label>
            </div>
        </div>
       
    </div>
</div>







