@using Neosinerji.BABOnlineTP.Web.Content.Lang
@using Neosinerji.BABOnlineTP.Web.Areas.Teklif.Models
@using Neosinerji.BABOnlineTP.Web.Tools.Helpers
@model DetayLilyumModel

@section HorizontalMenu
{
    <ul class="nav">
        <li>
            <a href="/Police/Police/Liste">Kart Listesi<span></span></a>
        </li>
        <li class="active">
            <a href="#">Lilyum Kart<span class="selected"></span></a>
        </li>
        <li>
            <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">Yeni Kart Satın Al<span class="arrow"></span></a>
            <ul class="dropdown-menu">
                @foreach (var item in ViewBag.UrunYetkileri)
                {
                    <li><a href="@item.UrunURL">@item.UrunAdi</a></li>
                }
            </ul>
            <b class="caret-out"></b>
        </li>
        <li>
            <span class="hor-menu-search-form-toggler">&nbsp;</span>
            <div class="search-form hidden-phone hidden-tablet">
                <form class="form-search">
                    <div class="input-append">
                        <input type="text" placeholder="Search" class="m-wrap">
                        <button type="button" class="btn"></button>
                    </div>
                </form>
            </div>
        </li>
    </ul>
}
<head>
    <title>LilyumKartDetay</title>
    <link rel="shortcut icon" href="@Url.Content("~/Content/img/lilyum-icon.png")" />
</head>

@section PageHeader
{

}

@section PageStyles
{
    <link href="~/content/css/jquery.gritter.css" rel="stylesheet" type="text/css" />
}

@section PageScripts
{
    <script src="@Url.Content("~/Content/js/jquery.gritter.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/jquery.validate.bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Content/js/jquery.validate.custom.js")" type="text/javascript"></script>

    <script>
        $("#pdf").click(function () {
            var pdfURL = $(this).attr("pdf");
            if (pdfURL != undefined && pdfURL != "") {
                window.open(pdfURL, "_blank");

            }
            else {

                $.gritter.add({
                    title: 'Bilgi Mesajı!',
                    text: 'Bu poliçenin pdf dosyası bulunamadı. Lütfen sistem yöneticinize danışınız'
                });
            }
        });

        $("#pdf-dekont").click(function () {
            var pdfURL = $(this).attr("dekont-pdf");
            if (pdfURL != undefined && pdfURL != "") {
                window.open(pdfURL, "_blank");
            }
            else {
                $(this).button("loading");
                var teklifId = $(this).attr("police-id");
                $.ajax({
                    type: "POST",
                    url: "/Teklif/LilyumKart/DekontPDF",
                    data: { id: teklifId },
                    success: function (data) {
                        $("#pdf-dekont").button("reset");
                        if (data.Success) {
                            $("#pdf").attr("dekont-pdf", data.PDFUrl);
                            window.open(data.PDFUrl, "_blank");
                            return;
                        }
                    },
                    error: function () {
                        $("#pdf-dekont").button("reset");
                        $.gritter.add({ title: 'Hata Mesajı!', text: "Dekont PDF'i hazırlanırken hata oluştu." });
                    }
                });
            }
        });

        // ==== Email Gönderme İşlemleri ==== //
        $("#email-gonder").live("click", function () {
            var teklifId = $(this).attr("teklif-id");

            $("#email-gonder").button("loading");

            $.get("/Teklif/Teklif/TeklifEposta",
                { id: teklifId },
                function (data) {
                    $("#mail-gonder-modal-div").html(data);
                    $.validator.unobtrusive.parse("#mail-gonder-modal-div");
                    $("#email-modal").modal('show');
                    $("#email-gonder").button("reset");
                },
                "html");
        });
        $("#mail-gonder-btn").live("click", function () {
            $("#mail-gonder-form").validate().form();

            if ($("#mail-gonder-form").valid()) {
                $("#email-modal").modal('hide');

                $.gritter.add({
                    title: 'Bilgi Mesajı!',
                    text: 'Mail gönderiliyor. Lütfen bekleyiniz.'
                });
                $(".switcher").find(":input").switchFix();
                var formData = $("#mail-gonder-form").serialize();

                $.ajax({
                    type: "POST",
                    url: "/Teklif/Teklif/TeklifEPosta",
                    data: formData,
                    timeout: 60000,
                    traditional: true,
                    success: function (data) {
                        $("#email-gonder").button("reset");
                        $("#email-modal").modal('hide');
                        if (data.Success) {
                            $.gritter.add({
                                title: 'İşlem Başarılı!',
                                text: data.Message
                            });
                            return;
                        }
                        else {
                            $.gritter.add({
                                title: 'Bir hata oluştu!',
                                text: 'Mail gönderilemedi, lütfen tekrar deneyin.'
                            });
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#email-gonder").button("reset");
                        $("#mail-modal").modal('hide');
                        var response = jQuery.parseJSON(jqXHR.responseText);
                        if (response == null) {
                            $.gritter.add({
                                title: 'Bir hata oluştu!',
                                text: errorThrown
                            });
                        }
                        else {
                            $.gritter.add({
                                title: 'Bir hata oluştu!',
                                text: response.Message
                            });
                        }
                    }
                });

            }
        });
                                                                                                            // ==== Email Gönderme İşlemleri ==== //
    </script>

}

<form class="form-horizontal">
    <div class="portlet box light-grey" style="margin-top: 24px;">
        <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i>Lilyum Kart Bilgileri</div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>
        <div class="portlet-body">

            <div class="accordion" id="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#step1">
                            <i class="icon-angle-left"></i>
                            @babonline.UserInfo
                        </a>

                    </div>
                    <div id="step1" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <div class="box-body">
                                @Html.EditorFor(m => m.Hazirlayan)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#step3">
                            <i class="icon-angle-left"></i>
                            @babonline.PaymentOptions
                        </a>
                    </div>
                    <div id="step3" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <div class="box-body">
                                <div class="row-fluid">
                                    <div id="teklif-fiyatlar">
                                        <div class="row-fluid" style="margin-top: 20px; border-bottom: 1px solid #e5e5e5;">
                                            <div class="span3" style="text-align: center;font-size:15px;"><h3>Lilyum Kart</h3></div>
                                            @if (!String.IsNullOrEmpty(Model.TUMPoliceNo))
                                            {
                                                <div class="span3" style="text-align: center;font-size:15px"><h3>Referans No</h3></div>
                                            }
                                            <div class="span3" style="text-align: center;font-size:15px"><h3>@babonline.Payment</h3></div>
                                            <div class="span3" style="text-align: center;font-size:15px"><h3>Lilyum Paratika <br />3D Ödeme Durumu</h3></div>
                                        </div>
                                        <div id="fiyat-container-template">
                                            <div class="row-fluid" id="fiyat-container" style="margin-top: 20px; padding-bottom: 20px; border-bottom: 1px solid #e5e5e5;">
                                                <div class="span3" style="text-align: center;">
                                                    <img id="tum-unvan" alt="@Model.TUMUnvani" src="@Model.TUMLogoURL" />
                                                </div>
                                                @if (!String.IsNullOrEmpty(Model.TUMPoliceNo))
                                                {
                                                    <div class="span3" style="text-align: center;">
                                                        @if (!String.IsNullOrEmpty(Model.TUMPoliceNo))
                                                        {
                                                            <span style="color:green;font-size:15px">
                                                                <h3>
                                                                    @Model.TUMPoliceNo
                                                                </h3>
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            // ekranda gözükmesin istendi.
                                                            <h4>@Model.KoruPoliceDurumu</h4>
                                                        }
                                                    </div>

                                                }
                                                <div class="span3" style="text-align: center;">
                                                    <span style="font-weight: bold;" class="fiyat"></span>
                                                    @if (Model.Parartika3DLilyumSonOdemeDurumu == "Başarılı ")
                                                    {
                                                        if (Model.BrutPrim != null)
                                                        {

                                                            if (Model.TaksitSayisi == 1)
                                                            {
                                                                <span style="color:green;font-size:15px"><h3>@Model.BrutPrim ₺</h3></span>
                                                            }
                                                            else
                                                            {
                                                                //int taksitS = Model.TaksitSayisi.Value;

                                                                <span style="color:green">
                                                                    <strong><h3>@Model.BrutPrim ₺</h3></strong> @*(@taksitS  Taksit )*@
                                                                </span>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <span style="color:green;font-size:15px"><h3>@Model.OdemeTutari ₺</h3></span>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <span>
                                                            <strong></strong>
                                                        </span>
                                                    }

                                                </div>
                                                <div class="span3" style="text-align: center;">
                                                    @if (Model.Parartika3DLilyumSonOdemeDurumu == "Başarılı ")
                                                    {
                                                        <span style="color:green;font-size:15px"><h3> @Model.Parartika3DLilyumSonOdemeDurumu ✓</h3></span>
                                                    }
                                                    else
                                                    {
                                                        <span style="font-size:15px"> @Model.Parartika3DLilyumSonOdemeDurumu </span>
                                                    }
                                                </div>

                                            </div>
                                            @if (Model.Parartika3DLilyumSonOdemeDurumu == "Başarılı ")
                                            {
                                                <span style="font-size:24px;font-family:Calibri;font:italic !important"><span style="color:#d250eb">Lilyum Kartınız</span> hazırlanmıştır. En kısa sürede adresinize teslim edilecektir.</span>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#step2">
                            <i class="icon-angle-left"></i>
                            Müşteri Bilgileri
                        </a>
                    </div>
                    <div id="step2" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <div class="box-body">
                                <div class="form-section-header">
                                    <h3 class="form-section">Lilyum Kart Sahibi</h3>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">@babonline.Identification_Number</label>
                                    <div class="controls">
                                        <label class="control">@Model.Sigortali.KimlikNo</label>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">@babonline.Customer_Name_Title</label>
                                    <div class="controls">
                                        <label class="control">@Model.Sigortali.AdiUnvan</label>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">@babonline.Customer_Surname_Title</label>
                                    <div class="controls">
                                        <label class="control">@Model.Sigortali.SoyadiUnvan</label>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">@babonline.Email_Adress</label>
                                    <div class="controls">
                                        <label class="control">@Model.Sigortali.Email</label>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">@babonline.TVMUser_MobilePhone</label>
                                    <div class="controls">
                                        <label class="control">@Model.Sigortali.CepTelText</label>
                                    </div>
                                </div>
                                <h3>İletişim Adres Bilgileri</h3>
                                <div class="control-group">
                                    <label class="control-label">@babonline.City</label>
                                    <div class="controls">
                                        <label class="control">@Model.Sigortali.IlAdi</label>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">@babonline.District</label>
                                    <div class="controls">
                                        <label class="control">@Model.Sigortali.IlceAdi</label>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">@babonline.Address</label>
                                    <div class="controls">
                                        <label class="control">@Model.Sigortali.IletisimAcikAdres</label>
                                    </div>
                                </div>
                                <h3>Teslimat Adres Bilgileri</h3>
                                <div class="control-group">
                                    <label class="control-label">@babonline.City</label>
                                    <div class="controls">
                                        <label class="control">@Model.Sigortali.TeslimatIlAdi</label>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">@babonline.District</label>
                                    <div class="controls">
                                        <label class="control">@Model.Sigortali.TeslimatIlceAdi</label>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">@babonline.Address</label>
                                    <div class="controls">
                                        <label class="control">@Model.Sigortali.TeslimatAcikAdres</label>
                                    </div>
                                </div>
                                @if (!String.IsNullOrEmpty(Model.GenelBilgiler.Plaka))
                                {
                                    <div class="control-group">
                                        <label class="control-label">@babonline.Plate</label>
                                        <div class="controls">
                                            <label class="control">@Model.GenelBilgiler.Plaka</label>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
