@using Neosinerji.BABOnlineTP.Web.Content.Lang
@using Neosinerji.BABOnlineTP.Business



@model ExcelOfflinePoliceListModel
<head>
    <title>OfflinePoliçeAktar</title>
</head>


@section HorizontalMenu
{
    <ul class="nav">
        <li>
            <a href="~/Rapor/Rapor/OfflinePoliceAktar"><span>@babonline.OfflinePolicyExport</span></a>
        </li>
        <li class="active">
            <a href="#">@babonline.OfflinePoliceControl<span class="selected"></span></a>
        </li>
        <li>
            <span class="hor-menu-search-form-toggler">&nbsp;</span>
            <div class="search-form hidden-phone hidden-tablet">
                <form class="form-search">
                    <div class="input-append">
                        <input type="text" placeholder="@babonline.Search" class="m-wrap">
                        <button type="button" class="btn"></button>
                    </div>
                </form>
            </div>
        </li>
    </ul>
}


@section PageHeader
{
}

<div class="row-fluid">
    <div class="span12">
        <div class="portlet box light-grey tabbable" style="margin-top: 24px;">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-reorder"></i>
                    <span class="hidden-480">@babonline.OfflinePolicyExport</span>
                </div>
            </div>
            <div class="portlet-body form">

                @using (Html.BeginForm("OfflinePoliceKontrol", "Rapor", FormMethod.Post, new { @class = "form-hozirontal" }))
                {
                    Html.EnableClientValidation(true);
                    @Html.ValidationSummary(true, @babonline.Message_GenericErrorHeader)

                    if (Model.HataliKayitlar != null && Model.HataliKayitlar.Count > 0)
                    {
                        <h3 style="margin-top: 0px; margin-left: 10px;">&nbsp; @babonline.UnCorrect_Record</h3>
                        <div style="width: 100%; overflow: auto;">
                            <table class="table table-striped table-bordered  table">
                                <thead>
                                    <tr>
                                        <th style="width: 110px">@babonline.Product_Code</th>
                                        <th style="width: 100px">@babonline.TVM_Code</th>
                                        <th style="width: 100px">@babonline.SE_KimlikNo</th>
                                        <th style="width: 200px; min-width: 200px; color: red">@babonline.Errors</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.HataliKayitlar)
                                    {
                                        <tr class="odd">
                                            <td>@item.UrunKodu</td>
                                            <td>@item.TVMKodu</td>
                                            <td>@item.SEKimlikNo</td>
                                            <td style="color: red; width: 200px;">
                                                @foreach (var hata in item.hatalist)
                                                {
                                                    <span>@hata</span><br />
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }

                    if (Model.HatasizKayitlar != null && Model.HatasizKayitlar.Count > 0)
                    {
                        @Html.HiddenFor(s => s.DosyaAdresi)
                        <h3>&nbsp; @babonline.Correct_Record</h3>
                        <div style="width: 100%; overflow: scroll;">

                            <table class="table table-striped table-bordered table-condensed table">
                                <thead>
                                    <tr>
                                        <th style="width: 110px">@babonline.Product_Code</th>
                                        <th style="width: 100px">@babonline.TVM_Code</th>
                                        <th style="width: 100px">@babonline.SE_KimlikNo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.HatasizKayitlar)
                                    {
                                        <tr class="odd">
                                            <td>@item.UrunKodu</td>
                                            <td>@item.TVMKodu</td>
                                            <td>@item.SEKimlikNo</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="form-actions" style="margin-left: 0px !important; margin-right: 0px !important; margin-bottom: 0px !important;">
                            <button id="btn-kaydet" class="btn btn-success">@babonline.Save_Correct_Record</button>
                            <a class="btn" href="~/Rapor/Rapor/PoliceRaporu">@babonline.Cancel</a>
                        </div>
                    }
                    else
                    {
                        <div class="form-actions" style="margin-left: 0px !important; margin-right: 0px !important; margin-bottom: 0px !important;">
                            <a class="btn" href="~/Rapor/Rapor/OfflinePoliceAktar">@babonline.RecordsGoBackToFix</a>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>

