@using Neosinerji.BABOnlineTP.Web.Content.Lang
@using Neosinerji.BABOnlineTP.Web.Areas.Teklif.Models
@using Neosinerji.BABOnlineTP.Web.Tools.Helpers
@model KonutTeminatBilgileri

<style>
    .tutar {
        border-top-width: 0;
        height: 34px;
        margin-left: 10px;
        margin-top: -17px;
        padding-top: 0;
    }

    .tutar-text-disabled {
        width: 90px;
        text-align: right;
        background-color: #D3D3D3 !important;
    }
</style>

<h5 class="form-section">@babonline.Main_Guarantees </h5>
<div class="row-fluid">
    <div class="span6">
        @*Eşya Yangın*@
        <div class="control-group">
            <label class="control-label">@babonline.GoodsFire</label>
            <div class="controls ">
                @Html.SwitchButtonFor(m => m.EsyaYangin, new string[] { "EVET", "HAYIR" }, new { @class = "switcher switcher-small deactivate" })
                <div class="input-append tutar">
                    @Html.TextBoxFor(m => m.EsyaYanginBedel, new { @class = "m-wrap onlynumbers tutar-text-disabled teminat-esya", disabled = "disabled" })<span class="add-on"> TL</span>
                </div>
            </div>
        </div>
        @*EŞYA DEPREM*@
        <div class="control-group">
            <label class="control-label">@babonline.GoodsEarthquake</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.EsyaDeprem, new string[] { "EVET", "HAYIR" }, new { @class = "switcher switcher-small deactivate" })
                <div class="input-append tutar">
                    @Html.TextBoxFor(m => m.EsyaDepremBedel, new { @class = "m-wrap onlynumbers tutar-text-disabled teminat-esya", disabled = "disabled" })<span class="add-on"> TL</span>
                </div>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.BuildingFire</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.BinaYangin, new string[] { "EVET", "HAYIR" }, new { @class = "switcher switcher-small teminat-bina-switch" })
                <div class="input-append tutar">
                    @Html.TextBoxFor(m => m.BinaYanginBedel, new { @class = "m-wrap onlynumbers tutar-text-disabled teminat-bina", disabled = "disabled" })<span class="add-on"> TL</span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@babonline.BuildingEarthquake</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.BinaDeprem, new string[] { "EVET", "HAYIR" }, new { @class = "switcher switcher-small teminat-bina-switch" })
                <div class="input-append tutar">
                    @Html.TextBoxFor(m => m.BinaDepremBedel, new { @class = "m-wrap onlynumbers tutar-text-disabled autoNumeric", disabled = "disabled" })<span class="add-on"> TL</span>
                </div>
            </div>
        </div>
    </div>
</div>




<h5 class="form-section">@babonline.Additional_Guarantees </h5>
<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.AdditionalCollateralGoods</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.EkTeminatEsya, new string[] { "EVET", "HAYIR" }, new { @class = "switcher switcher-small deactivate" })
                <div class="input-append tutar">
                    @Html.TextBoxFor(m => m.EkTeminatEsyaBedel, new { @class = "m-wrap onlynumbers tutar-text-disabled teminat-esya", disabled = "disabled" })<span class="add-on"> TL</span>
                </div>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.BuildingAdditionalCoverage</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.EkTeminatBina, new string[] { "EVET", "HAYIR" }, new { @class = "switcher switcher-small teminat-bina-switch" })
                <div class="input-append tutar">
                    @Html.TextBoxFor(m => m.EkTeminatBinaBedel, new { @class = "m-wrap onlynumbers tutar-text-disabled teminat-bina", disabled = "disabled" })<span class="add-on"> TL</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.Theft</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.Hirsizlik, new string[] { "EVET", "HAYIR" }, new { @class = "switcher switcher-small deactivate" })
                <div class="input-append tutar">
                    @Html.TextBoxFor(m => m.HirsizlikBedel, new { @class = "m-wrap onlynumbers tutar-text-disabled teminat-esya", disabled = "disabled" })<span class="add-on"> TL</span>
                </div>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.Landslide</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.YerKaymasi, new string[] { "EVET", "HAYIR" }, new { @class = "switcher switcher-small deactivate" })
                <div class="input-append tutar">
                    @Html.TextBoxFor(m => m.YerKaymasiBedel, new { @class = "m-wrap onlynumbers tutar-text-disabled teminat-cift", disabled = "disabled" })<span class="add-on"> TL</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.Storm</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.Firtina, new string[] { "EVET", "HAYIR" }, new { @class = "switcher switcher-small deactivate" })
                <div class="input-append tutar">
                    @Html.TextBoxFor(m => m.FirtinaBedel, new { @class = "m-wrap onlynumbers tutar-text-disabled teminat-cift", disabled = "disabled" })<span class="add-on"> TL</span>
                </div>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.EarthquakeVolcanicEruption</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.DepremYanardagPuskurmesi, new string[] { "EVET", "HAYIR" }, new { @class = "switcher switcher-small deactivate" })
                <div class="input-append tutar">
                    @Html.TextBoxFor(m => m.DepremYanardagPuskurmesiBedel, new { @class = "m-wrap onlynumbers tutar-text-disabled teminat-cift", disabled = "disabled" })<span class="add-on"> TL</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.EarthquakeVolcanicEruptionGoods</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.DepremYanardagPuskurmesiEsya, new string[] { "EVET", "HAYIR" }, new { @class = "switcher switcher-small deactivate" })
                <div class="input-append tutar">
                    @Html.TextBoxFor(m => m.DepremYanardagPuskurmesiEsyaBedel, new { @class = "m-wrap onlynumbers tutar-text-disabled teminat-esya", disabled = "disabled" })<span class="add-on"> TL</span>
                </div>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.EarthquakeVolcanicEruptionBuilding</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.DepremYanardagPuskurmesiBina, new string[] { "EVET", "HAYIR" }, new { @class = "switcher switcher-small teminat-bina-switch" })
                <div class="input-append tutar">
                    @Html.TextBoxFor(m => m.DepremYanardagPuskurmesiBinaBedel, new { @class = "m-wrap onlynumbers tutar-text-disabled teminat-bina", disabled = "disabled" })<span class="add-on"> TL</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.FloodAndFlood</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.SelVeSuBaskini, new string[] { "EVET", "HAYIR" }, new { @class = "switcher switcher-small deactivate" })
                <div class="input-append tutar">
                    @Html.TextBoxFor(m => m.SelVeSuBaskiniBedel, new { @class = "m-wrap onlynumbers tutar-text-disabled teminat-cift", disabled = "disabled" })<span class="add-on"> TL</span>
                </div>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.GLKHHKNHTerror</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.GLKHHKNHTeror, new string[] { "EVET", "HAYIR" }, new { @class = "switcher switcher-small deactivate" })
                <div class="input-append tutar">
                    @Html.TextBoxFor(m => m.GLKHHKNHTerorBedel, new { @class = "m-wrap onlynumbers tutar-text-disabled teminat-cift", disabled = "disabled" })<span class="add-on"> TL</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.GlassBreakage</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.CamKirilmasi, new string[] { "EVET", "HAYIR" }, new { })
                <div id="cam-kirilmasi-tutar" class="input-append tutar">
                    @Html.TextBoxFor(m => m.CamKirilmasiBedel, new { @class = "m-wrap onlynumbers autoNumeric", style = "width:90px; text-align:right" })<span class="add-on"> TL</span>
                </div>
                @Html.ValidationMessageFor(m => m.CamKirilmasiBedel)
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.AssistantService</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.AsistanHizmeti, new string[] { "EVET", "HAYIR" }, new { })
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.BuiltInWater</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.DahiliSu, new string[] { "EVET", "HAYIR" }, new { @class = "switcher switcher-small deactivate" })
                <div class="input-append tutar">
                    @Html.TextBoxFor(m => m.DahiliSuBedel, new { @class = "m-wrap onlynumbers tutar-text-disabled teminat-cift", disabled = "disabled" })<span class="add-on"> TL</span>
                </div>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.Legal_Protection</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.HukuksalKoruma, new string[] { "EVET", "HAYIR" }, new { })
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.MotorVehicleShock</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.KaraTasitlariCarpmasi, new string[] { "EVET", "HAYIR" }, new { @class = "switcher switcher-small deactivate" })
                <div class="input-append tutar">
                    @Html.TextBoxFor(m => m.KaraTasitlariCarpmasiBedel, new { @class = "m-wrap onlynumbers tutar-text-disabled teminat-cift", disabled = "disabled" })<span class="add-on"> TL</span>
                </div>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.Smoke</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.Duman, new string[] { "EVET", "HAYIR" }, new { @class = "switcher switcher-small deactivate" })
                <div class="input-append tutar">
                    @Html.TextBoxFor(m => m.DumanBedel, new { @class = "m-wrap onlynumbers tutar-text-disabled teminat-cift", disabled = "disabled" })<span class="add-on"> TL</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.WeightOfSnow</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.KarAgirligi, new string[] { "EVET", "HAYIR" }, new { @class = "switcher switcher-small deactivate" })
                <div class="input-append tutar">
                    @Html.TextBoxFor(m => m.KarAgirligiBedel, new { @class = "m-wrap onlynumbers tutar-text-disabled teminat-cift", disabled = "disabled" })<span class="add-on"> TL</span>
                </div>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.ShockAircraft</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.HavaTasitlariCarpmasi, new string[] { "EVET", "HAYIR" }, new { })
                <div class="input-append tutar">
                    @Html.TextBoxFor(m => m.HavaTasitlariCarpmasiBedel, new { @class = "m-wrap onlynumbers tutar-text-disabled teminat-cift", disabled = "disabled" })<span class="add-on"> TL</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.PersonalAccident</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.FerdiKaza, new string[] { "EVET", "HAYIR" }, new { })
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.BasicsOfFire</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.TemellerYangin, new string[] { "EVET", "HAYIR" }, new { @class = "switcher switcher-small teminat-bina-switch" })
                <div class="input-append tutar">
                    @Html.TextBoxFor(m => m.TemellerYanginBedel, new { @class = "m-wrap onlynumbers tutar-text-disabled teminat-bina", disabled = "disabled" })<span class="add-on"> TL</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.PersonalAccidentDeath</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.FerdiKazaOlum, new string[] { "EVET", "HAYIR" }, new { })
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.ContinuousAccidentInjury</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.FerdiKazaSurekliSakatlik, new string[] { "EVET", "HAYIR" }, new { })
            </div>
        </div>
    </div>
</div>


<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.LiabilityFire</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.MaliMesuliyetYangin, new string[] { "EVET", "HAYIR" }, new { })
                <div id="mali-sorumluluk-yangin-tutar" class="input-append tutar">
                    @Html.TextBoxFor(m => m.MaliMesuliyetYanginBedel, new { @class = "m-wrap onlynumbers autoNumeric", style = "width:90px; text-align:right" })<span class="add-on"> TL</span>
                </div>
                @Html.ValidationMessageFor(m => m.MaliMesuliyetYanginBedel)
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.AdditionalCoverageLiability</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.MaliSorumlulukEkTeminat, new string[] { "EVET", "HAYIR" }, new { })
                <div id="mali-sorumlulukek-tutar" class="input-append tutar">
                    @Html.TextBoxFor(m => m.MaliSorumlulukEkTeminatBedel, new { @class = "m-wrap onlynumbers autoNumeric", style = "width:90px; text-align:right" })<span class="add-on"> TL</span>
                </div>
                @Html.ValidationMessageFor(m => m.MaliSorumlulukEkTeminatBedel)
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    @*  <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.ValuableGoodsFire</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.DegerliEsyaYangin, new string[] { "EVET", "HAYIR" }, new { })
                <div class="input-append tutar">
                    @Html.TextBoxFor(m => m.DegerliEsyaYanginBedel, new { @class = "m-wrap onlynumbers", style = "width:90px; text-align:right" })<span class="add-on"> TL</span>
                </div>
                @Html.ValidationMessageFor(m => m.DegerliEsyaYanginBedel)
            </div>
        </div>
    </div>*@
    
     <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.Pickpocketing</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.Kapkac, new string[] { "EVET", "HAYIR" }, new { })
				<div id="kapkac-tutar" class="input-append tutar">
                    @Html.TextBoxFor(m => m.KapkacBedel, new 
					{ @class = "m-wrap onlynumbers autoNumeric", style = "width:90px; text-align:right" })<span class="add-on"> TL</span>
                </div>
                @Html.ValidationMessageFor(m => m.KapkacBedel)
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.InsulatedEventBSYear</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.IzolasOlayBsYil, new string[] { "EVET", "HAYIR" }, new { })
                <div id="izolasyon-olay-tutar" class="input-append tutar">
                    @Html.TextBoxFor(m => m.IzolasOlayBsYilBedel, new { @class = "m-wrap onlynumbers autoNumeric", style = "width:90px; text-align:right" })<span class="add-on"> TL</span>
                </div>
                @Html.ValidationMessageFor(m => m.IzolasOlayBsYilBedel)
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.DebrisRemovalGoods</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.EnkazKaldirmaEsya, new string[] { "EVET", "HAYIR" }, new { @class = "switcher switcher-small deactivate" })
                <div class="input-append tutar">
                    @Html.TextBoxFor(m => m.EnkazKaldirmaEsyaBedel, new { @class = "m-wrap onlynumbers tutar-text-disabled teminat-esya", disabled = "disabled" })<span class="add-on"> TL</span>
                </div>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.BuildingDebrisRemoval</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.EnkazKaldirmaBina, new string[] { "EVET", "HAYIR" }, new { @class = "switcher switcher-small teminat-bina-switch" })
                <div class="input-append tutar">
                    @Html.TextBoxFor(m => m.EnkazKaldirmaBinaBedel, new { @class = "m-wrap onlynumbers tutar-text-disabled teminat-bina", disabled = "disabled" })<span class="add-on"> TL</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.LossofRent</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.KiraKaybi, new string[] { "EVET", "HAYIR" }, new { })
                <div id="kira-kaybi-tutar" class="input-append tutar">
                    @Html.TextBoxFor(m => m.KiraKaybiBedel, new { @class = "m-wrap onlynumbers autoNumeric", style = "width:90px; text-align:right" })<span class="add-on"> TL</span>
                </div>
                @Html.ValidationMessageFor(s => s.KiraKaybiBedel)
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label">Medline</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.Medline, new string[] { "EVET", "HAYIR" }, new { })
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">

    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.EmergencyMedicalHospitalPersonalAccident</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.AcilTibbiHastaneFerdiKaza, new string[] { "EVET", "HAYIR" }, new { })
            </div>
        </div>
    </div>
</div>









