@using Neosinerji.BABOnlineTP.Web.Content.Lang
@using Neosinerji.BABOnlineTP.Web.Areas.Teklif.Models
@using Neosinerji.BABOnlineTP.Web.Tools.Helpers
@model DetayKaskoModel

@section PageStyles
{
    <link href="~/content/css/jquery.gritter.css" rel="stylesheet" type="text/css" />
}
    <head>
        <title>KaskoTeklifDetay</title>
    </head>

@section HorizontalMenu
{
    <ul class="nav">
        <li>
            <a href="/Teklif/Teklif/Liste">@babonline.Proposal_Search<span></span></a>
        </li>
        <li class="active">
            <a href="#">@babonline.Detail<span class="selected"></span></a>
        </li>
        <li>
            <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">@babonline.NewProposal<span class="arrow"></span></a>
            <ul class="dropdown-menu">
                @foreach (var item in ViewBag.UrunYetkileri)
                {
                    <li><a href="@item.UrunURL">@item.UrunAdi</a></li>
                }
            </ul>
            <b class="caret-out"></b>
        </li>
        <li>
            <span class="hor-menu-search-form-toggler">&nbsp;</span>
            <div class="search-form hidden-phone hidden-tablet">
                <form class="form-search">
                    <div class="input-append">
                        <input type="text" placeholder="@babonline.Search" class="m-wrap">
                        <button type="button" class="btn"></button>
                    </div>
                </form>
            </div>
        </li>
    </ul>
}


@section PageHeader
{
    <link href="~/Content/css/bootstrapSwitch.css" rel="stylesheet" />
}
@section PageScripts
{
    @Scripts.Render("~/bundles/switch")
    <script src="@Url.Content("~/Content/js/autoNumeric.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/neosinerji.babonlinetp.teklif.js")" type="text/javascript"></script>


    <script src="@Url.Content("~/Content/js/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/jquery.validate.bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Content/js/jquery.validate.custom.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/jquery.gritter.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/underscore.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Content/js/neosinerji.babonlinetp.kasko.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            trafikOdeme.init();

            $("#step3").collapse('show');
            $("#step1").collapse('hide');
            $("#btn-digerTeklifEkle").click(function () {
                //KaskoDigerTeklif_TeklifId
                $("#KaskoDigerTeklif_TeklifId").attr("readonly", true);
                var contents = $("#form1, #form2, #form3, #form4, #form5,#form6").serialize();
                $("#KaskoDigerTeklif_TeklifId").attr("readonly", false);
                $.ajax(
                    {
                        type: "POST",
                        url: "/Teklif/Kasko/DigerTeklifKaydetEkle",
                        data: contents,
                        success: function (data) {
                            if (data.id > 0) {
                                teklifFiyat.kontol({ processId: data.id, guid: data.g });

                                $("#step3group").css({ "visibility": "visible" });
                                $("#teklif-fiyat-container").css({ "visibility": "visible" });
                                $("#step1").collapse("hide");
                                $("#step2").collapse("hide");
                                $("#step3").collapse("show");
                                $("#fiyat-container").html($("#fiyat-container-template").html());
                                $('#form_wizard_1').bootstrapWizard("next");
                            }
                            else if (data.id == 0) {
                                $("#btn-hesapla").button("reset");
                                alert(data.hata);
                            }
                            $("#btn-hesapla").button("reset");
                        },
                        error: function () {
                            $("#btn-hesapla").button("reset");
                        }
                    });
            });           
            $("#btn-teklif-tekrar").click(function () {
                $("#btn-hesapla").button("reset");
                $("#id").val(@Model.SigortaEttiren.MusteriKodu);
                    $("#formTeklif").submit();
                });
                $("#digerTeklidVarmi").show();
                var digerTeklifSatir = @(Model.KaskoDigerTeklif.DigerTeklifler != null ? Model.KaskoDigerTeklif.DigerTeklifler.Count : 0);
                var digerTeklifSatirEkleme = false;
                if ($("#KaskoDigerTeklif_DigerTeklifVarMi_control").bootstrapSwitch('status')) {
                    $("#KaskoDigerTeklif_DigerTeklifVarMi_control").bootstrapSwitch('setActive', false);
                    $("#KaskoDigerTeklif_DigerTeklifVarMi").attr('disabled', true);
                    $("#teklifler").slideDown("fast");

                }
                else {
                    $("#KaskoDigerTeklif_DigerTeklifVarMi_control").bootstrapSwitch('setActive', true);
                    $("#KaskoDigerTeklif_DigerTeklifVarMi").attr('disabled', false);
                    $("#teklifler").slideUp("fast");
                }
                $("#KaskoDigerTeklif_DigerTeklifVarMi_control").on("switch-change", DigerTeklifKontrol);
                $(".add-digerTeklif").live("click",  addDigerTeklifSatir);
                $(".remove-digerTeklif").live("click", removeDigerTeklifSatir);

                $("#digerTeklifVarmi").show();
                $("#btn-digerTeklifEkle").show();
                function DigerTeklifKontrol(e, data) {
                    if (data.value) {
                        $("#teklifler").slideDown("fast");
                        if (!digerTeklifSatirEkleme)
                            addDigerTeklifSatir();
                        digerTeklifSatirEkleme = false;
                    }
                    else {
                        $("#teklifler").slideUp("fast");
                        removeDigerTeklifSatirlar();
                    }
                }
                function addDigerTeklifSatir() {
                    _.templateSettings.variable = "rc";
                    var template = _.template(
                        $("script.template-teklif").html()
                    );
                    var templateData = { no: digerTeklifSatir };
                    var elements = $("#teklif-header").parent().append(template(templateData));
                    $("#KaskoDigerTeklif_DigerTeklifler_" + digerTeklifSatir + "__SirketKod").rules('add', 'required');
                    //$("#KaskoDigerTeklif_DigerTeklifler_" + digerTeklifSatir + "__SirketTeklifNo").rules('add', 'required');
                    // $("#KaskoDigerTeklif_DigerTeklifler_" + digerTeklifSatir + "__HasarsizlikIndirimSurprim").autoNumeric('init', { vMin: '0', vMax: '9999999', mDec: 0, aSep: '', aDec: ',' });
                    $("#KaskoDigerTeklif_DigerTeklifler_" + digerTeklifSatir + "__TeklifTutar").autoNumeric('init', { vMin: '0', vMax: '9999999', mDec: 0, aSep: '', aDec: ',' });
                    digerTeklifSatir++;
                }

                function removeDigerTeklifSatirlar() {
                    digerTeklifSatir = 0;
                    $("#teklif-header").siblings().remove();
                }
                function removeDigerTeklifSatir() {
                    var id = $(this).data("id");
                    var row = "#DigerTeklif-row-" + id;
                    $("#teklif-header").siblings(row).remove();
                }
            });

    </script>

}


<form id="formTeklif" action="/Teklif/Kasko/Ekle" method="post">
    @Html.Hidden("id", Model.SigortaEttiren.MusteriKodu)
    @Html.Hidden("teklifId", Model.TeklifId)
</form>
<form class="form-horizontal formTeklif">
    @Html.HiddenFor(m => m.TeklifId)
    <div class="portlet box light-grey" style="margin-top: 24px;">
        <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i>@babonline.ProposalInfo</div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>
        <div class="portlet-body">

            <div class="accordion" id="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#step1">
                            <i class="icon-angle-left"></i>
                            @babonline.UserInfo
                        </a>

                    </div>
                    <div id="step1" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <div class="box-body">
                                <div class="row-fluid">

                                    @Html.EditorFor(m => m.Hazirlayan)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#step2">
                            <i class="icon-angle-left"></i>
                            @babonline.ProposalInfo
                        </a>
                    </div>
                    <div id="step2" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="box-body">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <div class="form-section-header">
                                            <h3 class="form-section">@babonline.InsuredBy</h3>
                                        </div>
                                        @Html.EditorFor(s => s.SigortaEttiren)
                                    </div>
                                    <div class="span6">
                                        @if (Model.Sigortali != null)
                                        {
                                            <div class="form-section-header">
                                                <h3 class="form-section">@babonline.Insured</h3>
                                            </div>

                                            @Html.EditorFor(s => s.Sigortali)
                                        }
                                    </div>
                                </div>
                                <div class="form-section-header">
                                    <h3 class="form-section">@babonline.VehicleInfo</h3>
                                </div>
                                <div class="row-fluid">
                                    <div class="">
                                        @Html.EditorFor(m => m.Arac)
                                    </div>
                                </div>
                                <div class="form-section-header">
                                    <h3 class="form-section">@babonline.Policy_Info</h3>
                                </div>
                                <div class="row-fluid">
                                    <div class="span6" style="margin-left: 0px;">
                                        @Html.EditorFor(m => m.EskiPolice)
                                        @Html.EditorFor(m => m.Tasiyici)
                                    </div>
                                </div>
                                @if (Model.DainiMurtein.DainiMurtein)
                                {
                                    <div class="form-section-header">
                                        <h3 class="form-section">@babonline.DainiMurtein</h3>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span6" style="margin-left: 0px;">
                                            <div class="control-group">
                                                <label class="control-label">@babonline.DainiMurtein</label>
                                                <div class="controls ">
                                                    @Html.BootstrapYesNo(m => m.DainiMurtein.DainiMurtein)
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">Kurum Tipi</label>
                                                <div class="controls ">
                                                    <label class="control">@Model.DainiMurtein.KurumTipiAdi</label>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">Kurum</label>
                                                <div class="controls ">
                                                    <label class="control">@Model.DainiMurtein.KurumKodu @Model.DainiMurtein.KurumAdi</label>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">Şube Kodu</label>
                                                <div class="controls ">
                                                    <label class="control">@Model.DainiMurtein.SubeKodu</label>
                                                </div>
                                            </div>
                                            @if (!String.IsNullOrEmpty(Model.DainiMurtein.KimlikNo))
                                            {
                                                <div class="control-group">
                                                    <label class="control-label">Kurum Bilgisi</label>
                                                    <div class="controls ">
                                                        <label class="control">@Model.DainiMurtein.KimlikNo @Model.DainiMurtein.Unvan</label>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                                <div class="form-section-header">
                                    <h3 class="form-section">@babonline.GuaranteesChoices</h3>
                                </div>
                                @* Teminatlar isteğe bağlı *@
                                <div class="row-fluid">
                                    <div class="span6">
                                        <div class="control-group">
                                            <label class="control-label">@babonline.IMMLimit</label>
                                            <div class="controls">
                                                <label class="control">@Model.Teminat.IMM</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="control-group">
                                            <label class="control-label">@babonline.FKLimit</label>
                                            <div class="controls">
                                                <label class="control">@Model.Teminat.FK</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="span6">
                                        <div class="control-group">
                                            <label class="control-label">@babonline.Insurance_Type</label>
                                            <div class="controls">
                                                <label class="control">@Model.Teminat.KaskoTurleri</label>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="control-group">
                                            <label class="control-label">@babonline.Insurance_Services</label>
                                            <div class="controls">
                                                <label class="control">@Model.Teminat.KaskoServisleri</label>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="span6">
                                        <div class="control-group">
                                            <label class="control-label">@babonline.Insurance_Spare_Parts</label>
                                            <div class="controls">
                                                <label class="control">@Model.Teminat.KaskoYedekParcalari</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="control-group">
                                            <label class="control-label">@babonline.SubstitutedSpecies</label>
                                            <div class="controls">
                                                <label class="control"><span>@Model.Teminat.Ikame</span></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row-fluid">
                                    <div class="span6">
                                        <div class="control-group">
                                            <label class="control-label tooltips" data-desktop="tooltips" data-placement="top" data-original-title="@babonline.Collateral_Of_Walkout_LockOut_PopularMovement">@babonline.CW_L_PM</label>
                                            <div class="controls ">
                                                @if (Model.Teminat.G_L_K_H_H_T)
                                                {
                                                    <label class="control"><span class="label label-success">@babonline.Yes</span></label>
                                                }
                                                else
                                                {
                                                    <label class="control"><span class="label label-important">@babonline.No</span></label>
                                                }
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">@babonline.Earthquake</label>
                                            <div class="controls">
                                                @if (Model.Teminat.Deprem)
                                                {
                                                    <label class="control"><span class="label label-success">@babonline.Yes</span></label>
                                                }
                                                else
                                                {
                                                    <label class="control"><span class="label label-important">@babonline.No</span></label>
                                                }
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">@babonline.Flood_Water</label>
                                            <div class="controls">
                                                @if (Model.Teminat.Sel_Su)
                                                {
                                                    <label class="control"><span class="label label-success">@babonline.Yes</span></label>
                                                }
                                                else
                                                {
                                                    <label class="control"><span class="label label-important">@babonline.No</span></label>
                                                }
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">@babonline.Scatheless_Protection</label>
                                            <div class="controls">
                                                @if (Model.Teminat.HasarsizlikKoruma)
                                                {
                                                    <label class="control"><span class="label label-success">@babonline.Yes</span></label>
                                                }
                                                else
                                                {
                                                    <label class="control"><span class="label label-important">@babonline.No</span></label>
                                                }
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">@babonline.Theft</label>
                                            <div class="controls">
                                                @if (Model.Teminat.Calinma)
                                                {
                                                    <label class="control"><span class="label label-success">@babonline.Yes</span></label>
                                                }
                                                else
                                                {
                                                    <label class="control"><span class="label label-important">@babonline.No</span></label>
                                                }
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">@babonline.Legal_Protection</label>
                                            <div class="controls">
                                                @if (Model.Teminat.HukuksalKoruma)
                                                {
                                                    <label class="control"><span class="label label-success">@babonline.Yes</span></label>
                                                }
                                                else
                                                {
                                                    <label class="control"><span class="label label-important">@babonline.No</span></label>
                                                }
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">@babonline.Damage_From_The_Animals</label>
                                            <div class="controls">
                                                @if (Model.Teminat.HayvanlarinVerecegiZarar)
                                                {
                                                    <label class="control"><span class="label label-success">@babonline.Yes</span></label>
                                                }
                                                else
                                                {
                                                    <label class="control"><span class="label label-important">@babonline.No</span></label>
                                                }
                                            </div>
                                        </div>


                                    </div>
                                    <div class="span6">
                                        <div class="control-group">
                                            <label class="control-label">@babonline.Alert</label>
                                            <div class="controls">
                                                @if (Model.Teminat.Alarm)
                                                {
                                                    <label class="control"><span class="label label-success">@babonline.Yes</span></label>
                                                }
                                                else
                                                {
                                                    <label class="control"><span class="label label-important">@babonline.No</span></label>
                                                }
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">@babonline.Forgot_Key</label>
                                            <div class="controls">
                                                @if (Model.Teminat.AnahtarKaybi)
                                                {
                                                    <label class="control"><span class="label label-success">@babonline.Yes</span></label>
                                                }
                                                else
                                                {
                                                    <label class="control"><span class="label label-important">@babonline.No</span></label>
                                                }
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">@babonline.Fire</label>
                                            <div class="controls">
                                                @if (Model.Teminat.Yangin)
                                                {
                                                    <label class="control"><span class="label label-success">@babonline.Yes</span></label>
                                                }
                                                else
                                                {
                                                    <label class="control"><span class="label label-important">@babonline.No</span></label>
                                                }
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">@babonline.Obsolescence</label>
                                            <div class="controls">
                                                @if (Model.Teminat.Eskime)
                                                {
                                                    <label class="control"><span class="label label-success">@babonline.Yes</span></label>
                                                }
                                                else
                                                {
                                                    <label class="control"><span class="label label-important">@babonline.No</span></label>
                                                }
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">@babonline.Healt</label>
                                            <div class="controls">
                                                @if (Model.Teminat.Saglik)
                                                {
                                                    <label class="control"><span class="label label-success">@babonline.Yes</span></label>
                                                }
                                                else
                                                {
                                                    <label class="control"><span class="label label-important">@babonline.No</span></label>
                                                }
                                            </div>
                                        </div>
                                        @if (Model.Teminat.Saglik)
                                        {
                                            <div class="control-group">
                                                <label class="control-label" style="text-align: center;">@babonline.Number_Of_People_Collateralized</label>
                                                <div class="controls">
                                                    <label class="control">@Model.Teminat.SaglikKisiSayisi</label>
                                                </div>
                                            </div>
                                        }

                                        <div class="control-group">
                                            <label class="control-label">@babonline.Guarantee_Of_International</label>
                                            <div class="controls">
                                                @if (Model.Teminat.YurtDisiTeminati)
                                                {
                                                    <label class="control"><span class="label label-success">@babonline.Yes</span></label>
                                                }
                                                else
                                                {
                                                    <label class="control"><span class="label label-important">@babonline.No</span></label>
                                                }
                                            </div>
                                        </div>

                                        @if (Model.Teminat.YurtDisiTeminati)
                                        {
                                            <div class="control-group">
                                                <label class="control-label" style="text-align: center;">@babonline.Time_Of_Guarantee_Of_International</label>
                                                <div class="controls">
                                                    <label class="control">@Model.Teminat.YurtDisiTeminatiSuresi</label>
                                                </div>
                                            </div>
                                        }


                                        <div class="control-group">
                                            <label class="control-label">@babonline.Vehicle_LPG</label>
                                            <div class="controls">
                                                @if (Model.Teminat.AracLPGlimi)
                                                {
                                                    <label class="control"><span class="label label-success">@babonline.Yes</span></label>
                                                }
                                                else
                                                {
                                                    <label class="control"><span class="label label-important">@babonline.No</span></label>
                                                }
                                            </div>
                                        </div>

                                        @if (Model.Teminat.AracLPGlimi)
                                        {
                                            <div class="control-group" id="lpg-arac-orjinalmi" style="display: none">
                                                <label class="control-label" style="text-align: center;">@babonline.Is_Original</label>
                                                <div class="controls">
                                                    @if (Model.Teminat.LPGOrjinalmi)
                                                    {
                                                        <label class="control"><span class="label label-success">@babonline.Yes</span></label>
                                                    }
                                                    else
                                                    {
                                                        <label class="control"><span class="label label-important">@babonline.No</span></label>
                                                    }
                                                </div>
                                            </div>

                                            if (Model.Teminat.LPGOrjinalmi)
                                            {
                                                <div class="control-group">
                                                    <label class="control-label" style="text-align: center;">@babonline.LPGCompany</label>
                                                    <div class="controls">
                                                        <label class="control">@Model.Teminat.LPGMarkasi</label>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label" style="text-align: center;">@babonline.LPGPrice</label>
                                                    <div class="controls">
                                                        <label class="control">@Model.Teminat.LPGBedeli</label>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-group" id="step3group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#step3">
                            <i class="icon-angle-left"></i>
                            @babonline.Proposal
                        </a>

                    </div>
                    <div id="step3" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="box-body">

                                <div id="teklif-no-container" class="row-fluid">
                                    <div class="span12">
                                        <h4>@babonline.Proposal_No : @Model.TeklifNo</h4>
                                    </div>
                                </div>

                                <div id="teklif-fiyatlar">
                                    <div class="row-fluid" style="margin-top: 20px; border-bottom: 1px solid #e5e5e5;">
                                        <div class="span2" style="text-align: center;">@babonline.InsuranceCompany</div>
                                        <div class="span1" style="text-align: center;">@babonline.InsuranceCompany PDF</div>
                                        <div class="span1" style="text-align: center;">@babonline.InsuranceCompany @babonline.Proposal_No</div>
                                        <div class="span1" style="text-align: center;">@babonline.NoDamage</div>
                                        <div class="span2" style="text-align: center;">@babonline.IndirimSurprim</div>
                                        <div class="span2" style="text-align: center;">@babonline.Payment_Amount</div>
                                        @if (Model.Fiyat.Fiyatlar.Count > 0)
                                        {
                                            if (Model.Fiyat.Fiyatlar[0].merkezAcenteMi)
                                            {

                                                <div class="span1" style="text-align: center;">@babonline.TotalCommission</div>
                                                <div class="span2" style="text-align: center;">@babonline.CommissionRate</div>
                                            }
                                        }
                                    </div>
                                    <div class="fiyat-container">
                                        @for (int i = 0; i < Model.Fiyat.Fiyatlar.Count; i++)
                                        {
                                            <div class="row-fluid" id="fiyat-container-@(i)" style="margin-top:20px; padding-bottom:20px; border-bottom: 1px solid #e5e5e5;">
                                                <div class="span2" style="text-align: center;">
                                                    <img id="tum-unvan-@(i)" src="@Model.Fiyat.Fiyatlar[i].TUMLogoUrl" alt="@Model.Fiyat.Fiyatlar[i].TUMUnvani" title="@Model.Fiyat.Fiyatlar[i].TUMUnvani" width="100" height="100" />
                                                    @if (Model.Fiyat.Fiyatlar[i].TUMTeklifUyariMesaji != null && @Model.Fiyat.Fiyatlar[i].TUMTeklifUyariMesaji != "")
                                                    {
                                                        <span id="tum-uyari-@(i)"><i class="icon-warning-sign" alt="@Model.Fiyat.Fiyatlar[i].TUMTeklifUyariMesaji" title="Uyarı Mesajı- @Model.Fiyat.Fiyatlar[i].TUMTeklifUyariMesaji"></i></span>
                                                    }
                                                    @if (Model.Fiyat.Fiyatlar[i].TUMTeklifBilgiMesaji != null && Model.Fiyat.Fiyatlar[i].TUMTeklifBilgiMesaji != "")
                                                    {
                                                        <span id="tum-bilgi-@(i)"><i class="icon-info-sign" alt="@Model.Fiyat.Fiyatlar[i].TUMTeklifBilgiMesaji" title="Bilgi Mesajı-@Model.Fiyat.Fiyatlar[i].TUMTeklifBilgiMesaji"></i></span>
                                                    }
                                                </div>
                                                @if (Model.Fiyat.Fiyatlar[i].Hatalar == null || Model.Fiyat.Fiyatlar[i].Hatalar.Count == 0)
                                                {
                                                    if (!String.IsNullOrEmpty(Model.Fiyat.Fiyatlar[i].TUMTeklifPDF))
                                                    {
                                                        <div class="span1" style="text-align: center;">
                                                            <a href="@Model.Fiyat.Fiyatlar[i].TUMTeklifPDF" title='Teklif PDF' target='_blank' class='pull-center'>
                                                                <img src='/content/img/pdf_icon.png' />
                                                            </a>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="span1" style="text-align: center;"></div>
                                                    }
                                                    <div class="span1 merkezacente" id="tum-teklifno-@(i)" style="text-align: center;">
                                                        @Model.Fiyat.Fiyatlar[i].TUMTeklifNo
                                                    </div>
                                                    <div id="div-hasarsizlik-@(i)" class="span1" style="text-align:center;">
                                                        @if (Model.Fiyat.Fiyatlar[i].HasarIndirimSurprim == "I")
                                                        {
                                                            <span class='label label-success' style='margin-top: 25px'>@Model.Fiyat.Fiyatlar[i].Hasarsizlik</span>
                                                        }
                                                        else if (Model.Fiyat.Fiyatlar[i].HasarIndirimSurprim == "S")
                                                        {
                                                            <span class='label label-important' style='margin-top: 25px'>@Model.Fiyat.Fiyatlar[i].Hasarsizlik</span>
                                                        }
                                                        else
                                                        {
                                                            <span class='label label-info' style='margin-top: 25px'>%0</span>
                                                        }
                                                    </div>
                                                    <div id="div-surprim-@(i)" class="span2" style="text-align:center;">
                                                        @if (Model.Fiyat.Fiyatlar[i].Surprimler.Count > 0)
                                                        {
                                                            <div style='display: table-cell; vertical-align: middle; height: 65px;'>
                                                                @foreach (var surprim in Model.Fiyat.Fiyatlar[i].Surprimler)
                                                                {
                                                                    <div class='row' id="teklif-detay-custom" style='width: 200px; margin-left: auto; margin-right: auto;'>
                                                                        <div class='span10' style='text-align: center;'>@surprim.SurprimAciklama</div>
                                                                        @if (surprim.SurprimIS == "I")
                                                                        {
                                                                            <div class='span2' style='text-align: center;'><span class='label label-success'>@surprim.Surprim</span></div>
                                                                        }
                                                                        else if (surprim.SurprimIS == "S")
                                                                        {
                                                                            <div class='span2' style='text-align: center;'><span class='label label-important'>@surprim.Surprim</span></div>
                                                                        }
                                                                        else
                                                                        {
                                                                            <div class='span2' style='text-align: center;'><span class='label label-info'>%0</span></div>
                                                                        }
                                                                    </div>
                                                                }
                                                            </div>
                                                        }
                                                    </div>
                                                    <div id="div-fiyat-1-@(i)" class="span2" style="text-align:center;">
                                                        <span id="tum-fiyat-1-@(i)" style="font-weight:bold;" class="fiyat">@Model.Fiyat.Fiyatlar[i].Fiyat1</span>
                                                        <button id="tum-satial-1-@(i)" type="button" class="btn btn-success teklif-satin-al" teklif-id="@Model.Fiyat.Fiyatlar[i].Fiyat1_TeklifId" fiyat="@Model.Fiyat.Fiyatlar[i].Fiyat1" style="padding-left:10px;">
                                                            <i class="icon-ok icon-white"></i>
                                                            <span>@babonline.Buy</span>
                                                        </button>
                                                    </div>
                                                    if (Model.Fiyat.Fiyatlar[i].merkezAcenteMi)
                                                    {
                                                        <div id="div-komisyon-tutari-@(i)" class="span1" style="text-align:center;">
                                                            @Model.Fiyat.Fiyatlar[i].KomisyonTutari
                                                        </div>
                                                        <div id="div-komisyon-orani-@(i)" class="span2" style="text-align:center;">
                                                            @Model.Fiyat.Fiyatlar[i].KomisyonOrani
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="span10 alert alert-error" style="text-align: left; margin-bottom: 0px;">
                                                        <strong>@babonline.ProposalIsNotCreated</strong><br />
                                                        @foreach (var hata in Model.Fiyat.Fiyatlar[i].Hatalar)
                                                        {
                                                            <span title='@hata'>@(hata.Length > 150 ? hata.Substring(0, 150) : hata)</span><br />
                                                        }
                                                    </div>
                                                    <span class="fiyat" style="display: none;">0</span>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>

                                <div class="row-fluid" id="form6">
                                    @Html.EditorFor(m => m.KaskoDigerTeklif)
                                </div>

                                <div id="teklif-button-container" class="row-fluid" style="padding-top: 20px; padding-bottom: 20px; margin-top: 20px;">
                                    @if (Model.ProjeKodu == "Mapfre")
                                    {
                                        <div class="span3">
                                            <button id="pdf-karsilastirma" class="btn btn-primary" data-loading-text="@babonline.Message_Loading" type="button" pdf="@Model.Fiyat.PDFDosyasi"><i class="icon-file icon-white">&nbsp;</i>@babonline.ProposalPDF</button>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="span3">
                                            <button id="pdf-karsilastirma" class="btn btn-primary" data-loading-text="@babonline.Message_Loading" type="button" pdf="@Model.Fiyat.PDFDosyasi"><i class="icon-file icon-white">&nbsp;</i>@babonline.DetailProposalComparisonPDF</button>
                                        </div>
                                    }
                                    <div class="span4">
                                        <button id="email-gonder" class="btn btn-primary" type="button" data-loading-text="@babonline.Message_Loading"><i class="icon-envelope icon-white"></i>@babonline.EmailSend</button>
                                    </div>
                                    <div class="span3">
                                        <button id="btn-teklif-tekrar" class="btn btn-warning" type="button"><i class="icon-star-empty icon-white"></i>@babonline.RepeatProposal</button>
                                    </div>
                                    <div class="offset6"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@Html.EditorFor(m => m.KrediKarti)

@*Mail gönderme modal form*@
<div id="mail-gonder-modal-div"></div>

