@using Neosinerji.BABOnlineTP.Web.Content.Lang
@model Neosinerji.BABOnlineTP.Web.Areas.Teklif.Models.OdemeGuvenceKAP



<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.Insurance_Start_Date<span class="required">*</span></label>
            <div class="controls">
                @Html.DateTextBoxFor(s => s.PoliceBaslangicTarihi, new { })
                @Html.ValidationMessageFor(s => s.PoliceBaslangicTarihi)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Para Birimi<span class="required">*</span></label>
            <div class="controls">
                @Html.DropDownListFor(s => s.paraBirimi, Model.paraBirimiList, new { style = "width:90%" })
                @Html.ValidationMessageFor(s => s.paraBirimi)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">KAP Poliçe No</label>
            <div class="controls">
                @Html.TextBoxFor(s => s.KapPoliceNo, new { style = "width:87%" })
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.Insurance_Duration (@babonline.Year)<span class="required">*</span></label>
            <div class="controls">
                @Html.TextBoxFor(s => s.sigortaSuresi, new { maxlength = "2", style = "width:100px;", @class = "onlynumbers" })
                @Html.ValidationMessageFor(s => s.sigortaSuresi)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                Aylık Prim Tutarı
                <i class="icon-info-sign tooltips" data-container="body" data-placement="bottom" data-original-title="KAP Ödeme Dönemi aylıktan farklı ise, bu alana aylık eşdeğerinin girilmesi gerekmektedir. Örnek Format : 1,500.20"></i><span class="required">*</span>
            </label>
            <div class="controls">
                <div class="input-append">
                    @Html.TextBoxFor(m => m.aylikPrimTutari, new { @class = "m-wrap autoNumeric-custom", placeholder = "1,500.20", style = "width:90px; text-align:right", data_val_number = "Örnek format : 1,500.20" })
                    <span class="add-on" id="para-birimi">TL</span>
                </div>
                @Html.ValidationMessageFor(s => s.aylikPrimTutari)
            </div>
        </div>
    </div>
</div>

