@using Neosinerji.BABOnlineTP.Web.Content.Lang
@using Neosinerji.BABOnlineTP.Web.Areas.Teklif.Models
@using Neosinerji.BABOnlineTP.Web.Tools.Helpers
@model MapfreKaskoAracBilgiModel


@Html.Hidden("AracBilgileri_Acik", "0")
<div class="row-fluid">
    <div class="span12">
        <div class="control-group">
            <label class="control-label">@babonline.LicenceNumber<span class="required">*</span></label>
            <div class="controls">
                @Html.TextBoxFor(m => m.PlakaKodu, new { maxlength = 2, autocompletetype = "disabled", style="width:46px !important;margin-right:10px;", @class="onlynumbers", tabindex="1" })
                @Html.TextBoxFor(m => m.PlakaNo, new { maxlength = 8, autocompletetype = "disabled", style="width:100px;", tabindex="2" })
                <button class="btn btn-primary" id="btn-sorgula" data-loading-text="@babonline.QueryIndicator" type="button" tabindex="3">@babonline.Query</button>
                <a class="btn btn-primary" id="btn-eski-sorgula-modal" href="#eski-police-modal" data-toggle="modal" type="button" tabindex="3">@babonline.QueryOldPolicy</a>
                <div id="plaka-sorgu-hata" style="display: none; color: #b94a48;"></div>
                @Html.ValidationMessageFor(m => m.PlakaNo)
            </div>
        </div>
    </div>
</div>
<div class="row-fluid arac-bilgileri" style="display: none">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.RegistrationFormId</label>
            <div class="controls">
                @Html.TextBoxFor(m => m.TescilBelgeSeriKod, new { maxlength = 2, autocompletetype = "off", style="width:46px !important;margin-right:10px; text-transform:uppercase;", tabindex = "4" })
                @Html.TextBoxFor(m => m.TescilBelgeSeriNo, new { maxlength = 6, style = "width:100px;", tabindex = "5" })
                @Html.ValidationMessageFor(m => m.TescilBelgeSeriNo)
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.LicenceCity</label>
            <div class="controls">
                @Html.DropDownListFor(m => m.TescilIl, Model.TescilIller, new { tabindex = "17" })
            </div>
        </div>
    </div>
</div>

<div class="row-fluid arac-bilgileri" style="display: none">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.ASBISNo</label>
            <div class="controls">
                @Html.TextBoxFor(m => m.AsbisNo, new { maxlength = 19, tabindex = "6", @class="input-large" })
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.LicenceDistrict</label>
            <div class="controls">
                @Html.DropDownListFor(m => m.TescilIlce, Model.TescilIlceler, new { tabindex = "18" })
            </div>
        </div>
    </div>
</div>

<div class="row-fluid" id="egm-sorgu-row" style="display: none">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">EGM Bilgi Sorgula</label>
            <div class="controls">
                <button class="btn btn-primary" id="btn-egm-sorgula" data-loading-text="@babonline.QueryIndicator" type="button" tabindex="5" title="">EGM Sorgu</button>
                <div id="egm-sorgu-hata" style="display: none; color: #b94a48;"></div>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid arac-bilgileri" style="display: none">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.VehicleUsage<span class="required">*</span></label>
            <div class="controls">
                @Html.DropDownListFor(m => m.KullanimSekliKodu, Model.KullanimSekilleri, new { tabindex = "8" })
                @Html.ValidationMessageFor(m => m.KullanimSekliKodu)
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.LicenceDate</label>
            <div class="controls">
                @Html.DateTextBoxNotRequiredFor(m => m.TrafikTescilTarihi, new { style = "width:100px;", tabindex = "19" })
            </div>
        </div>
    </div>
</div>

<div class="row-fluid arac-bilgileri" style="display: none">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.VehicleUsageType<span class="required">*</span></label>
            <div class="controls">
                @Html.DropDownListFor(m => m.KullanimTarziKodu, Model.KullanimTarzlari, new { tabindex = "9", @class="w90" })
                @Html.ValidationMessageFor(m => m.KullanimTarziKodu)
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.TrafficDate</label>
            <div class="controls">
                @Html.DateTextBoxNotRequiredFor(m => m.TrafigeCikisTarihi, new { style = "width:100px;", tabindex = "20" })
            </div>
        </div>
    </div>
</div>

<div class="row-fluid arac-bilgileri" style="display: none">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.BrandCode</label>
            <div class="controls">
                <input type="text" id="brand-code" class="input-small onlynumbers" maxlength="5" tabindex="10" value="@Model.MarkaKodu" />
                <input type="text" id="type-code" class="input-small onlynumbers" maxlength="5" tabindex="11" value="@Model.TipKodu" />
                <div id="type-sorgu-hata" style="display: none; color: #b94a48;"></div>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.PolicyStartDate<span class="required">*</span></label>
            <div class="controls">
                @Html.DateTextBoxFor(m => m.PoliceBaslangicTarihi, new { style = "width:100px;", tabindex = "21" })
                @Html.ValidationMessageFor(m => m.PoliceBaslangicTarihi)
            </div>
        </div>
    </div>
</div>

<div class="row-fluid arac-bilgileri" style="display: none">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.VehicleBrand<span class="required">*</span></label>
            <div class="controls">
                @Html.DropDownListFor(m => m.MarkaKodu, Model.Markalar, new { tabindex = "12", @class="w90" })
                @Html.ValidationMessageFor(m => m.MarkaKodu)
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.EngineNo<span class="required">*</span></label>
            <div class="controls">
                @Html.TextBoxFor(m => m.MotorNo, new { maxlength = 50, autocompletetype = "off", tabindex = "22" })
                @Html.ValidationMessageFor(m => m.MotorNo)
            </div>
        </div>
    </div>
</div>

<div class="row-fluid arac-bilgileri" style="display: none">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.VehicleType<span class="required">*</span></label>
            <div class="controls">
                @Html.DropDownListFor(m => m.TipKodu, Model.AracTipleri, new { tabindex = "14", @class="w90" })
                @Html.ValidationMessageFor(m => m.TipKodu)
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.ChassisNo<span class="required">*</span></label>
            <div class="controls">
                @Html.TextBoxFor(m => m.SaseNo, new { maxlength = 50, autocompletetype = "off", @class="input-large", tabindex = "23" })
                @Html.ValidationMessageFor(m => m.SaseNo)
            </div>
        </div>
    </div>
</div>

<div class="row-fluid arac-bilgileri" style="display: none">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.VehicleModel<span class="required">*</span></label>
            <div class="controls">
                @Html.DropDownListFor(m => m.Model, Model.Modeller, new { tabindex = "13", @class="w90" })
                @Html.ValidationMessageFor(m => m.Model)
            </div>
        </div>
    </div>
</div>
<div class="row-fluid arac-bilgileri" style="display: none">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.UserCount<span class="required">*</span></label>
            <div class="controls">
                @Html.DropDownListFor(s => s.KisiSayisi, Model.KisiSayisiListe, new { @class = "input-medium", tabindex="15" })
                @Html.ValidationMessageFor(m => m.KisiSayisi)
                <span style="margin-left:10px;color: #b94a48;"><i class="icon icon-exclamation-sign" style="color: #b94a48;"></i> Sürücü Dahil</span> 
            </div>
        </div>
    </div>
</div>
<div class="row-fluid arac-bilgileri" style="display: none">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.VehicleValue<span class="required">*</span></label>
            <div class="controls">
                <div class="input-prepend input-append">
                    <span class="add-on simge-tl">&#8378;</span> @Html.TextBoxFor(s => s.AracDeger, new { @class = "m-wrap onlynumbers", style = "width:90px; text-align:right", tabindex="16" })<span class="add-on">.00</span>
                    @Html.ValidationMessageFor(m => m.AracDeger)
                </div>
                <div id="arac-deger-hata" style="display: none; color: #b94a48;"></div>
            </div>
        </div>
    </div>
</div>
@Html.HiddenFor(m => m.HasarsizlikIndirim)
@Html.HiddenFor(m => m.HasarSurprim)
@Html.HiddenFor(m => m.UygulananKademe)


<div id="eski-police-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3>@babonline.QueryOldPolicy</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label">@babonline.InsuranceCompany</label>
            <div class="controls">
                @Html.DropDownList("SorguSigortaSirketiKodu", Model.SigortaSirketleri, new { style = "width:200px;", @class="ignore" })
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@babonline.AgencyNo</label>
            <div class="controls">
                <input id="SorguAcenteNo" maxlength="30" autocomplete="off" style="width:150px;" class="ignore" type="text" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@babonline.PolicyNo</label>
            <div class="controls">
                <input id="SorguPoliceNo" maxlength="30" autocomplete="off" style="width:150px;" class="ignore" type="text" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@babonline.RenewalNo</label>
            <div class="controls">
                <input id="SorguYenilemeNo" maxlength="5" autocomplete="off" style="width:150px;" class="ignore" type="text" />
            </div> 
        </div>
        <div id="eski-police-modal-hata" style="display:none;">
            <div class="control-group" style="margin-bottom:0px;">
                <div class="alert alert-block alert-error fade in" style="margin-bottom:0px;" id="eski-police-hata-text">
                    Lütfen eski poliçe bilgilerini giriniz.
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="btn-eski-police-sorgula" class="btn btn-success" data-loading-text="@babonline.QueryIndicator">@babonline.Query</button>
        <a href="#" class="btn btn-info" data-dismiss="modal" aria-hidden="true">@babonline.Close</a>
    </div>
</div>