@using Neosinerji.BABOnlineTP.Web.Content.Lang
@model Neosinerji.BABOnlineTP.Web.Areas.Manage.Models.TVMIPBaglantiModel


<div id="baglanti-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        @if (!string.IsNullOrEmpty(Model.BaslangicIP))
        {
            <h3>@babonline.Edit</h3>
        }
        else
        {
            <h3>@babonline.TVMIPConnection_Add</h3>
        }
    </div>
    <div class="modal-body">
        <div class="validation-summary-errors" id="baglanti-error" style="display: none;">
            <span>@babonline.Message_GenericErrorHeader</span>
            <ul>
                <li id="baglanti-error-message">@babonline.Error</li>
            </ul>
        </div>
        <form id="baglanti-ekle-form" class="form-horizontal">
            @{ Html.EnableClientValidation(true); }
            @Html.HiddenFor(m => m.TVMKodu)
            @Html.HiddenFor(m => m.SiraNo)
            @Html.ValidationSummary(true, babonline.Message_GenericErrorHeader)
            @Html.AntiForgeryToken()
            <div class="control-group">
                <label class="control-label">@babonline.TVMIPConnection_StartIP<span class="required">*</span></label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.BaslangicIP, new { maxlength = 15, autocompletetype = "disabled" })
                    @Html.ValidationMessageFor(m => m.BaslangicIP)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@babonline.TVMIPConnection_EndIP<span class="required">*</span></label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.BitisIP, new { maxlength = 15, autocompletetype = "disabled" })
                    @Html.ValidationMessageFor(m => m.BitisIP)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@babonline.Status</label>
                <div class="controls" style="margin-left: 200px;">
                    @Html.RadioButtonListFor(m => m.Durum, Model.Durumlar)
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">@babonline.Cancel</a>
        @if (!string.IsNullOrEmpty(Model.BaslangicIP))
        {
            <a href="#" class="btn btn-info" id="baglanti-guncelle-btn">@babonline.Update</a>
        }
        else
        {
            <a href="#" class="btn btn-success" id="baglanti-ekle-btn"><i class="icon-ok">&nbsp;</i>@babonline.Save</a>
        }
    </div>
</div>
