@using Neosinerji.BABOnlineTP.Web.Content.Lang
@using Neosinerji.BABOnlineTP.Web.Areas.Manage.Models
@model TVMDepartmanlarListModel

<script>
    $(document).ready(function () {
        var departmanlarTable;
        function departmanTableSet() {
            departmanlarTable = $('#departmanlar-table').dataTable({
                "bPaginate": true,
                "bLengthChange": false,
                "iDisplayLength": 5,
                "bFilter": false,
                "bInfo": false,
                "bAutoWidth": false,
                "sPaginationType": "full_numbers",
                "sPaginationType": "bootstrap"
            });
        }

        departmanTableSet();
    });
</script>

<table id="departmanlar-table" class="table table-bordered table-striped responsive data-table">
    <thead>
        <tr>
            <th style="width: 150px;">@babonline.TVMDepartment_DepartmentCode</th>
            <th>@babonline.TVMDepartment_DepartmentName</th>
            <th style="width: 100px;">@babonline.TVMRegion_Code</th>
            <th style="width: 50px;">@babonline.Status</th>
            <th style="width: 50px;">&nbsp;</th>
            <th style="width: 40px;">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td style="text-align: center; width: 150px;">@item.DepartmanKodu</td>
                <td>@item.Adi</td>
                <td style="width: 200px;">@item.BolgeKodu</td>
                <td style="text-align: center;">
                    @if (item.Durum == 1)
                    {
                        <span class="label label-success">@babonline.Active</span>
                    }
                    else
                    {
                        <span class="label label-important">@babonline.Pasive</span>
                    }
                </td>
                <td style="text-align: center;">
                    <a href="javascript:void(0)" departman-kodu="@item.DepartmanKodu" tvm-kodu="@item.TVMKodu" class="btn btn-mini btn-info edit-departman">@babonline.Edit</a>
                </td>
                <td style="text-align: center;">
                    <a href="javascript:void(0)" departman-kodu="@item.DepartmanKodu" tvm-kodu="@item.TVMKodu" class="btn btn-mini btn-danger delete-departman">@babonline.Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
