@using Neosinerji.BABOnlineTP.Web.Content.Lang
@using Neosinerji.BABOnlineTP.Database.Models
@using menu = Neosinerji.BABOnlineTP.Business.Common
@model Neosinerji.BABOnlineTP.Web.Areas.Manage.Models.SirketWebEkranModel


@section HorizontalMenu
{
    <ul class="nav">

        <li class="active">
            <a href="~/Manage/TVM/NeoConnectSifreIslemleri">NeoConnect Kullanıcı Adı ve Şifre Arama<span class="selected"></span></a>
        </li>
        @*  @if (eklemeYetkisi)
        {
            <li>
                <a href="~/Manage/TVM/Ekle">@babonline.TVM_Add<span></span></a>
            </li>
        }*@
        <li>
            <span class="hor-menu-search-form-toggler">&nbsp;</span>
            <div class="search-form hidden-phone hidden-tablet">
                <form class="form-search">
                    <div class="input-append">
                        <input type="text" placeholder="@babonline.Search2" class="m-wrap">
                        <button type="button" class="btn"></button>
                    </div>
                </form>
            </div>
        </li>
    </ul>
}

@section PageHeader
{
    <link href="~/Content/css/bootstap-multiselect.css" rel="stylesheet" />
    <link href="~/Content/Angular/css/sweetalert.css" rel="stylesheet" />
}


@section PageScripts
{<script src="~/Content/Angular/js/sweetalert.min.js"></script>
    <link href="~/Content/css/bootstap-multiselect.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/dataTable")
    <script type="text/javascript">

        $(document).ready(function () {
            var tip = $('input[name="IslemTipi"]:checked').val();
            if (tip == "0") {
                $("#sigortaSirketleriId").show();
                $("#neoAra").show();
                $("#sirketGrupSirketleri").hide();
            }
            else {
                $("#sigortaSirketleriId").show();
                $("#neoAra").show();
                $("#sirketGrupSirketleri").show();
            }
        });

        $('input[name="IslemTipi"]').change(function () {
            var tip = $('input[name="IslemTipi"]:checked').val();
            if (tip == "0") {
                $("#sigortaSirketleriId").show();
                $("#neoAra").show();
                $("#sirketGrupSirketleri").hide();
            }
            else {
                $("#sigortaSirketleriId").show();
                $("#neoAra").show();
                $("#sirketGrupSirketleri").show();
            }
        });
     
        $("#TUMKodu").change(function () {
            
            var TUMKodu = $("#TUMKodu").val();
            if (TUMKodu != null && TUMKodu != '') {
                var tip = $('input[name="IslemTipi"]:checked').val();
                if (tip == "1") {
                

                    $.getJSON('/Manage/TVM/NeoConnectKullaniciSirketGrupAra', { TUMKodu: TUMKodu },

                        function (data) {

                            if (data.GrupListesi.length > 0) {
                                $("#GrupKodu").dropDownFill(data.GrupListesi);
                                $("#sirketGrupSirketleri").show();
                            }
                            else {
                                $("#sirketGrupSirketleri").hide();
                            }
                        });
                }


            }
            else {
               
            }
        });
        $("#TUMKodu").change(function () {
            //Anadolu Sigorta ise Swap Kullanıcı Bilgi Giriş Ekranı açılıyor
            if ($(this).val() == 4) {
                $("#anadolu-ozel").show();
            }
            else {
                $("#anadolu-ozel").hide();
            }
            if ($(this).val() != "" && $(this).val() != null) {
                $("#WSTVMKodu").prop("disabled", false);
                var tvmkodu = $("#WSTVMKodu").val();
                var tumkodu = $("#TUMKodu").val();
                $.get("/Manage/TVM/GetSirketGrupKullaniciListesi", { TVMKodu: tvmkodu, SirketKodu: tumkodu }, function (data) {
                    if (data != null) {
                        $("#GrupKodu").dropDownFill(data); $("#KullaniciAdi").val("");
                        $("#Sifre").val("");
                    }
                    else {
                        $("#KullaniciAdi").val("");
                        $("#Sifre").val("");
                    }
                });

                $("#WSTVMKodu").prop("disabled", true);
            }
        });

        $("#GrupKodu").change(function () {
            if ($(this).val() != "" && $(this).val() != null) {
                var grupKodu = $("#GrupKodu").val();

                $.get("/Manage/TVM/GetSirketGrupKullaniciDetay", { grupKodu: grupKodu }, function (data) {
                    if (data != null) {
                        $("#KullaniciAdi").val(data.KullaniciAdi);
                        $("#Sifre").val(data.Sifre);
                    }
                    else {
                        $("#KullaniciAdi").val("");
                        $("#Sifre").val("");
                    }
                });
            }
            else {
                $("#KullaniciAdi").val("");
                $("#Sifre").val("");
            }
        });

        //NeoConnect kullanıcıları ekleme - silme işlemleri
        $("#neoconnectkullanici-ekle").click(function () {
            var tvmkodu = $("#Kodu").val();
            $.get("/Manage/TVM/NeoConnectKullaniciEkle",
                { TVMKodu: tvmkodu },
                function (data) {
                    $("#neokullaniciekle-modal-div").html(data);
                    $.validator.unobtrusive.parse("#neokullaniciekle-modal-div");
                    $("#neoconnectkullanici-modal").modal('show');

                },
                "html");
            //location.reload();
        });

        $("#neokullanici-ekle-btn").live("click", function () {
            if ($("#GrupKodu").val() == "" || $("#GrupKodu").val() == null) {
                $("#GrupKodu").addClass("ignore");
            }
            $("#neoconnectkullanici-ekle-form").validate().form();

            if ($("#neoconnectkullanici-ekle-form").valid()) {
                var formData = $("#neoconnectkullanici-ekle-form").serialize();
                $.post("/Manage/TVM/NeoConnectKullaniciEkle", formData,
                    function (data) {
                        if (data == "null") { $("#neoconnectkullanici-modal").modal('hide'); }
                        else {
                            $("#neoconnectkullanici-modal").modal('hide');
                            $("#neokullaniciekle-modal-div").html(data);
                            $("#neoconnectkullanici-modal").modal('show');
                        }
                        //    viewPageNeoConnectSifreKullanici();

                    }, "html");

            }
        });

        $("#neoEkle").click(function () {
            var isvalid = $("#formNeoSifre").valid();
            if (isvalid) {

                $("#neoEkle").button("loading");
                var disabled = $("#formNeoSifre").find(':input:disabled').removeAttr('disabled');
                var contents = $("#formNeoSifre").serialize();
                disabled.attr('disabled', 'disabled');

                $.ajax(
                    {
                        type: "POST",
                        url: "/Manage/TVM/NeoConnectSifreIslemleri/",
                        data: contents,
                        success: function (data) {
                            $("#neoEkle").button("reset");
                            //// alert(data.HataMesaji);
                            //swal("Başarılı", data.HataMesaji, "success");
                            //location.reload(true);
                            if (data.Success == "False") {
                                swal(data.HataMesaji, "", "error");
                            }
                            else {
                                swal({
                                    title: "İşlem Başarılı!" + data.HataMesaji,
                                    type: "success",
                                    showCancelButton: false,
                                    confirmButtonColor: "#DD6B55",
                                    confirmButtonText: "OK",
                                    closeOnConfirm: false,
                                    closeOnCancel: false
                                },
                                    function (isConfirm) {
                                        if (isConfirm) {
                                            //location.reload();
                                            window.location.href = "/Manage/TVM/NeoConnectSifreIslemleri/";
                                        }
                                    });
                            }
                        }
                        //error: function () {
                        //    $("#neoEkle").button("reset");
                        //}
                    });
            }
        });

        $(".delete-neotvmwebservis").click(function () {
            var TVMKodu = $(this).attr("tvm-kodu");
            var id = $(this).attr("kayit-id");
            swal({
                title: "Uyarı!",
                text: " Kaydı silmek istediğiniz emin misiniz?",
                type: "info",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Evet",
                closeOnConfirm: false
                //closeOnCancel: false

            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.post("/Manage/TVM/NeoConnectSifreIslemleriKullaniciSil/",
                            { id: id, tvmKodu: TVMKodu },
                            function (data) {
                                if (data.sonuc != "Kayıt silindi.") {
                                    swal("Hata ", data.sonuc, "warning")
                                    return false;
                                }
                                swal({
                                    title: "Başarılı",
                                    text: data.sonuc,
                                    type: "success",
                                    showCancelButton: false,
                                    confirmButtonColor: "#DD6B55",
                                    confirmButtonText: "Tamam",
                                    closeOnConfirm: false
                                },
                                    function (isConfirm) {
                                        if (isConfirm) {
                                            location.reload(true);
                                            //viewPageNeoConnectSifreKullanici();
                                        }
                                    });
                            });
                    }
                    else {
                        swal("İptal", "Silme işlemi iptal edildi", "error");
                    }
                });


        });

        $(".edit-neotvmwebservis").live("click", function () {
            var TVMKodu = $(this).attr("tvm-kodu");
            var tumKodu = $(this).attr("tum-kodu");
            var id = $(this).attr("kayit-id");

            $.get("/Manage/TVM/NeoConnectSifreIslemleriKullaniciGuncelle",
                { tvmKodu: TVMKodu, tumKodu: tumKodu, id: id },
                function (data) {
                    $("#neokullaniciekle-modal-div").html(data);
                    $.validator.unobtrusive.parse("#neokullaniciekle-modal-div");
                    $("#neoconnectkullanici-modal").modal('show');
                    if ($("#TUMKodu").val() == 4) {
                        $("#anadolu-ozel").show();
                    }
                    else {
                        $("#anadolu-ozel").hide();
                    }
                    //   viewPageNeoConnectSifreKullanici();

                },
                "html");
        });

        $("#neokullanici-guncelle-btn").live("click", function () {
            if ($("#GrupKodu").val() == "" || $("#GrupKodu").val() == null) {
                $("#GrupKodu").addClass("ignore");
            }
            $("#neoconnectkullanici-ekle-form").validate().form();
            if ($("#neoconnectkullanici-ekle-form").valid()) {
                var formData = $("#neoconnectkullanici-ekle-form").serialize();
                $.post("/Manage/TVM/NeoConnectSifreIslemleriKullaniciGuncelle", formData,
                    function (data) {
                        if (data == "null") { $("#neoconnectkullanici-modal").modal('hide'); }
                        else {
                            $("#neoconnectkullanici-modal").modal('hide');
                            $("#neokullaniciekle-modal-div").html(data);
                            $("#neoconnectkullanici-modal").modal('show');
                        }
                        // viewPageNeoConnectSifreKullanici();
                        location.reload(true);
                    }, "html");
            }
        });
        ///////////////////////////////////////////////////////////////

        function viewPageNeoConnectSifreKullanici() {
            var tvmkodu = $("#Kodu").val();
            $.get("/Manage/TVM/NeoConnectSifreIslemleri",
                { TVMKodu: tvmkodu },
                function (data) {
                    $("#neoconnectkullanicilari-table").html(data);
                },
                "html");
        }




    </script>
}




<link href="~/Content/css/bootstrapSwitch.min.css" rel="stylesheet" />
<div class="row-fluid">
    <div class="span12">
        <div class="portlet box light-grey " style="margin-top: 24px;">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-reorder"></i>
                    <span class="hidden-480">NeoConnect Kullanıcı Ara</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="box corner-all">
            <div class="box-body">
                <div class="portlet-body form">

                    @using (Html.BeginForm("NeoConnectKullaniciAra", "TVM", FormMethod.Post, new { @class = "form-horizontal", id = "formListe", enctype = "multipart/form-data" }))
    {
                @Html.HiddenFor(m => m.TVMKodu)

                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label">@babonline.ReportType</label>
                            <div class="controls radio-custom">
                                @Html.RadioButtonListFor(m => m.IslemTipi, Model.IslemTipleri)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span12" style="margin-bottom:1%;">
                    <div class="control-group">
                        <div id="sigortaSirketleriId">
                            <label class="control-label">Sigorta Şirketi *</label>
                            <div class="controls">
                                <div class="span4">
                                    @Html.DropDownListFor(m => m.TUMKodu, Model.TUMListesi)
                                    @Html.ValidationMessageFor(m => m.TUMKodu)
                                    @*<input type="hidden" name="postButton"  value="neoAra"/>*@
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="span12" style="margin-bottom:1%;">
                    <div id="sirketGrupSirketleri">
                        <label class="control-label">Sigorta Şirket Grupları</label>

                        <div class="controls">
                            <div class="span4">
                                @Html.DropDownListFor(m => m.GrupKodu, Model.GrupListesi)
                                @Html.ValidationMessageFor(m => m.GrupKodu)
                                @*<input type="hidden" name="postButton"  value="neoAra"/>*@
                            </div>

                        </div>
                    </div></div>


                    <div class="span3" style="margin-left:24%;margin-bottom:1%;">
                        <input type="submit" id="neoAra" class="btn btn-success" data-loading-text="@babonline.QueryIndicator" value="@babonline.Search" />
                        @*<a href="javascript:void(0)" id="ipAra" class="btn btn-success btn-danger">@babonline.Search</a>*@

                    </div>
                    }


                </div>
                </div>
        </div>
    </div>

    </div>

    <table id="neoconnectkullanicilari-table" class="table table-bordered table-striped responsive data-table">
        <thead>
            <tr>
                <th style="width: 20%;">@babonline.TUM_Title</th>
                <th>Satış Kanalı</th>
                <th>Grup Adı</th>
                <th>Kullanıcı @babonline.TVMUser_Name</th>
                <th>Acente Kodu</th>
                <th>@babonline.Password</th>
                <th>Proxy (Ip Adresi / Port)</th>
                @*  <th> SWAP @babonline.Password</th>*@
                @*<th> Partaj No</th>*@
                <th style="width: 50px;">&nbsp;</th>
                <th style="width: 40px;">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.sifreList)
            {
                <tr>
                    <td>@item.TUMUnvan</td>
                    <td>@item.AltTVMUnvani</td>
                    <td>@item.GrupAdi</td>
                    <td>@item.KullaniciAdi</td>
                    <td>@item.AcenteKodu</td>
                    <td>@item.Sifre</td>
                    <td>@item.ProxyIpPort</td>
                    <td style="text-align: center;">
                        <a href="javascript:void(0)" tvm-kodu="@item.TVMKodu" tum-kodu="@item.TUMKodu" kayit-id="@item.Id" class="btn btn-mini btn-info edit-neotvmwebservis">@babonline.Edit</a>
                    </td>
                    <td style="text-align: center;">
                        <a href="javascript:void(0)" tvm-kodu="@item.TVMKodu" tum-kodu="@item.TUMKodu"  kayit-id="@item.Id" class="btn btn-mini btn-danger delete-neotvmwebservis">@babonline.Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    @*NeoConnect Ekleme*@
    <div id="neokullaniciekle-modal-div"></div>
