@using Neosinerji.BABOnlineTP.Web.Content.Lang
@model Neosinerji.BABOnlineTP.Web.Areas.TVM.Models.SifreDegistirModel

@{
    ViewBag.Title = "Şifre Değiştir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/pwstrength.js")

<script type="text/javascript">
    jQuery(document).ready(function () {
        "use strict";
        var options = {
            onLoad: function () {
                $('#messages').text('');
            },
            onKeyUp: function (evt) {
                $(evt.target).pwstrength("outputErrorList");
            }
        };
        $('#YeniSifre').pwstrength(options);


    });
</script>

<style>
    .sifremi-unuttum {
        color: #1999CE;
        font-size: 18px;
        font-weight: bold;
        height: 41px;
        padding-left: 22px;
        padding-top: 10px;
        font-family: Helvetica;
    }

    .progress {
        background-color: #fbceb5 !important;
        /*background-image: linear-gradient(to bottom, #F5F5F5, #F9F9F9);*/
        background-repeat: repeat-x;
        border-radius: 4px 4px 4px 4px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
        height: 20px;
        margin-bottom: 20px;
        overflow: hidden;
    }

        .progress-danger .bar, .progress .bar-danger {
            background-color: #DD514C;
            background-image: linear-gradient(to bottom, #EE5F5B, #C43C35);
            background-repeat: repeat-x;
        }

        .progress-success .bar, .progress .bar-success {
            background-color: #5EB95E;
            /*background-image: linear-gradient(to bottom, #62C462, #57A957);*/
            background-repeat: repeat-x;
        }


        .progress-warning .bar, .progress .bar-warning {
            background-color: #FAA732;
            /*background-image: linear-gradient(to bottom, #FBB450, #F89406);*/
            background-repeat: repeat-x;
        }

        .progress .bar {
            -moz-box-sizing: border-box;
            background-color: #0E90D2;
            /*background-image: linear-gradient(to bottom, #149BDF, #0480BE);*/
            background-repeat: repeat-x;
            box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
            color: #FFFFFF;
            float: left;
            font-size: 12px;
            height: 100%;
            text-align: center;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
            transition: width 0.6s ease 0s;
            width: 0;
        }

    .error-list li {
        list-style-type: none;
        color: antiquewhite;
        font-size: larger;
    }
</style>

@*<link href="~/Content/css/YeniTemaLogin.css" rel="stylesheet" />*@

<div class="logo-content" style="padding-top: 20px; padding-left:20px">
    <div>
        <a href="http://neoonline.com.tr/" target="_blank">
            <img src="@Url.Content("~/Content/img/YeniTasarim/ust-banner-2.jpg")" style="width :14%; height:15%; background-color:transparent; opacity:inherit" />
        </a>
    </div>
    <div id="global-sign">
        <div class="col-sm-6">
            <a href="http://www.neosinerji.com.tr/" target="_blank">
                <img style="width:13%; margin-left: 5%; border-radius: 70px;" src="@Url.Content("~/Content/img/YeniTasarim/hjh.jpg")" />
            </a>
        </div>
        <div class="col-sm-6">

            <img style="width: 11%; margin-left: 6%; margin-top: 10px" src="@Url.Content("~/Content/img/YeniTasarim/comodosecure.png")" alt="global-sign" />

        </div>
    </div>


</div>

@using (Html.BeginForm("SifreDegistir", "Profil", FormMethod.Post, new { id = "form1" }))
{
    { Html.EnableClientValidation(false); }


    <section class="ftco-section" style="padding: 2em !important">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5" style="height:20px">
                    <h2 class="heading-section" style="font-size:25px; color:#59646e; font-weight: bolder; margin-top:-12px ">Acente Giriş</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <!-- <h3 class="mb-4 text-center">Have an account?</h3> -->


                        <div class="form-group">
                            @Html.PasswordFor(m => m.EskiSifre, new { @class = "form-control", placeholder = @babonline.Password_Old, minlength = 6, maxlength = 20, autocompletetype = "disabled", style = "background: #6c6c8a82 !important" })
                            @Html.ValidationMessageFor(m => m.EskiSifre)
                        </div>

                        <div class="form-group">
                            @Html.PasswordFor(m => m.YeniSifre, new { @class = "form-control", placeholder = @babonline.Password_New, minlength = 8, maxlength = 20, autocompletetype = "disabled", pattern = @"((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,})", style = "background: #6c6c8a82 !important" })
                            @Html.ValidationMessageFor(m => m.YeniSifre)

                        </div>

                        <div class="form-group">
                            @Html.PasswordFor(m => m.YeniSifreTekrar, new { @class = "form-control", placeholder = @babonline.Password_Confirm, minlength = 8, maxlength = 20, autocompletetype = "disabled", pattern = @"((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,})", style = "background: #6c6c8a82 !important" })
                            @Html.ValidationMessageFor(m => m.YeniSifreTekrar)
                        </div>

                        <div class="form-group">
                            <button id="btn-ok" type="submit" class="form-control btn btn-primary submit px-3">Giriş</button>
                        </div>

                        <div class="error-div-custom" style="float: left; margin-top: 8px; width: 284px;">
                            @Html.ValidationSummary(true)
                        </div>


                    </div>
                    </div>
            </div>
        </div>
        <div style="clear: left"></div>
    </section>



    @*<div class="custom-content">

        <div class="login-hub-center">
            <div class="login-hub-top">

                <div class="login-white-content-sifre-degistir">
                    <label style="font:message-box;text-align:center"> &nbsp; &nbsp; Şifreniz 8 haneli enaz bir büyük,bir küçük harf ve rakamdan oluşmalıdır.</label>
                    <div class="sifremi-unuttum">
                        @babonline.ChangePassword
                    </div>
                    <div class="textbox-group">
                        @Html.PasswordFor(m => m.EskiSifre, new { @class = "text-box", placeholder = @babonline.Password_Old, minlength = 6, maxlength = 20, autocompletetype = "disabled" })
                        @Html.ValidationMessageFor(m => m.EskiSifre)
                        @Html.PasswordFor(m => m.YeniSifre, new { @class = "text-box", placeholder = @babonline.Password_New, minlength = 8, maxlength = 20, autocompletetype = "disabled", pattern = @"((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,})" })
                        @Html.ValidationMessageFor(m => m.YeniSifre)


                        @Html.PasswordFor(m => m.YeniSifreTekrar, new { @class = "text-box", placeholder = @babonline.Password_Confirm, minlength = 8, maxlength = 20, autocompletetype = "disabled", pattern = @"((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,})" })
                        @Html.ValidationMessageFor(m => m.YeniSifreTekrar)

                        <input type="submit" id="btn-ok" class="tamam-button-div" style="margin-left: 0px; margin-right: 27px; float: right; margin-top: 3px;" value="Tamam"></input>
                    </div>
                </div>
                <div class="error-div-custom" style="float: left; margin-top: 8px; width: 284px;">
                    @Html.ValidationSummary(true)
                </div>
            </div>
        </div>
    </div>*@
}

