@using Neosinerji.BABOnlineTP.Web.Content.Lang
@model Neosinerji.BABOnlineTP.Web.Areas.Teklif.Models.FerdiKazaPlusTeminatlarModel

<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.GuaranteeAmount</label>
            <div class="controls">
                @Html.DropDownListFor(s => s.teminatTutari, Model.teminatTutarlari, new { style = "width:60%" })
                @Html.ValidationMessageFor(s => s.teminatTutari)
            </div>
        </div>
      
        <div class="control-group">
            <label class="control-label">@babonline.PaymentOption</label>
            <div class="controls">
                @Html.DropDownListFor(s => s.OdemeSecenegi, Model.odemeSecenekleri, new { style = "width:60%" })
                @Html.ValidationMessageFor(s => s.OdemeSecenegi)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@babonline.AssistantService</label>
            <div class="controls">
                @Html.SwitchButtonFor(m => m.asistansHizmeti, new string[] { "EVET", "HAYIR" }, new { @class = "switcher switcher-small" })
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.AccidentalDeath</label>
            <div class="controls">
                <div class="input-append">
                    @Html.TextBoxFor(m => m.KazaSonucuVefatBedeli, new { @class = "m-wrap onlynumbers autoNumeric", style = "width:90px; text-align:right" })<span class="add-on paraBirimi">TL</span>
                </div>
                @Html.ValidationMessageFor(s => s.KazaSonucuVefatBedeli)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@babonline.AccidentalDisability </label>
            <div class="controls">
                <div class="input-append">
                    @Html.TextBoxFor(m => m.kazaSonucuMaluliyetBedeli, new { @class = "m-wrap onlynumbers autoNumeric", style = "width:90px; text-align:right" })<span class="add-on paraBirimi">TL</span>
                </div>
                @Html.ValidationMessageFor(s => s.kazaSonucuMaluliyetBedeli)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@babonline.InsurancePremiumAmount</label>
            <div class="controls">
                <div class="input-append">
                    @Html.TextBoxFor(m => m.SigortaPrimTutari, new { @class = "m-wrap onlynumbers autoNumeric", style = "width:90px; text-align:right" })<span class="add-on paraBirimi">TL</span>
                </div>
                @Html.ValidationMessageFor(s => s.SigortaPrimTutari)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@babonline.NumberOfInstallments</label>
            <div class="controls">
                @Html.TextBoxFor(m => m.taksitSayisi, new { @class = "m-wrap onlynumbers autoNumeric", style = "width:90px; text-align:right" })
                @Html.ValidationMessageFor(s => s.taksitSayisi)
            </div>
        </div>
    </div>
</div>
