@using Neosinerji.BABOnlineTP.Web.Content.Lang

@using Neosinerji.BABOnlineTP.Database.Models
@using menu = Neosinerji.BABOnlineTP.Business.Common

@model Neosinerji.BABOnlineTP.Web.Areas.Manage.Models.BransModel


@{
    bool guncellemeYetkisi = false;

    List<KullaniciYetkiModel> sekmeler = ViewBag.Sekmeler;
    KullaniciYetkiModel sekme = sekmeler.Where(s => s.SekmeKodu == menu.AltMenuSekmeler.BransTanimlama).FirstOrDefault();

    if (sekme != null)
    {
        if (sekme.Degistirme == 1)
        { guncellemeYetkisi = true; }
    }
}

@section HorizontalMenu
{
    <ul class="nav">
        <li>
            <a href="~/Manage/Brans/Liste">@babonline.Branch_Search<span></span></a>
        </li>
        <li class="active">
            <a href="#">@babonline.Detail<span class="selected"></span></a>
        </li>
        @if (guncellemeYetkisi)
        {
            <li>
                <a href="~/Manage/Brans/Guncelle/@Model.BransKodu">@babonline.Update<span></span></a>
            </li>
        }
        <li>
            <span class="hor-menu-search-form-toggler">&nbsp;</span>
            <div class="search-form hidden-phone hidden-tablet">
                <form class="form-search">
                    <div class="input-append">
                        <input type="text" placeholder="@babonline.Search2" class="m-wrap">
                        <button type="button" class="btn"></button>
                    </div>
                </form>
            </div>
        </li>
    </ul>
}

@section PageHeader
{

}

<div class="row-fluid">
    <div class="span12">
        <div class="box corner-all">
            <div class="box-body">
                <div class="portlet box light-grey " style="margin-top: 24px;">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>@babonline.Branch_Info</div>
                        @if (guncellemeYetkisi)
                        {
                            <div class="actions">
                                <a href="~/Manage/Brans/Guncelle/@Model.BransKodu" class="btn yellow"><i class="icon-pencil">&nbsp;</i>@babonline.Update</a>
                            </div>
                        }
                    </div>
                    <div class="portlet-body form">
                        <form class="form-horizontal form-view">
                            <div class="control-group">
                                <label class="control-label">@babonline.Branch_Code</label>
                                <div class="controls">
                                    <label class="control">@Model.BransKodu</label>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">@babonline.Branch_Name</label>
                                <div class="controls">
                                    <label class="control">@Model.BransAdi</label>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">@babonline.Status</label>
                                <div class="controls">
                                    <label class="control">@(Model.Durum == 1 ? babonline.Active : babonline.Pasive)</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
