@using Neosinerji.BABOnlineTP.Web.Content.Lang
@model Neosinerji.BABOnlineTP.Web.Areas.Police.Models.PoliceAraPartialModel

<script>
    $(document).ready(function () {

    });
</script>

<div id="policeara-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3>@babonline.PolicySearch</h3>
    </div>
    <div class="modal-body">
        <form id="police-ara-form" class="form-horizontal">
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <label class="control-label">@babonline.InsuranceCompany<span class="required">*</span></label>
                        <div class="controls">
                            @Html.DropDownListFor(s => s.SigortaSirketiKodu, Model.SigortaSirketleri, new { style = "width:90%;", @required = "required", id = "SigortaSirketiKodu" })
                            @Html.ValidationMessageFor(m => m.SigortaSirketiKodu)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">@babonline.Branch<span class="required">*</span></label>
                        <div class="controls">
                            @Html.DropDownListFor(s => s.BransKodu, Model.Branslar, new { style = "width:90%;", @required = "required" })
                            @Html.ValidationMessageFor(m => m.BransKodu)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">@babonline.PolicyNo<span class="required">*</span></label>
                        <div class="controls">
                            @Html.TextBoxFor(s => s.PoliceNo, new { required = "required" })
                            @Html.ValidationMessageFor(m => m.PoliceNo)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">@babonline.RenewalNo<span class="required">*</span></label>
                        <div class="controls">
                            @Html.TextBoxFor(s => s.YenilemeNo, new { required = "required" })
                            @Html.ValidationMessageFor(m => m.YenilemeNo)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">@babonline.Endorsement<span class="required">*</span></label>
                        <div class="controls">
                            @Html.TextBoxFor(s => s.EkNo, new { required = "required" })
                            @Html.ValidationMessageFor(m => m.EkNo)
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="HataMesaji"class="alert alert-block alert-error fade in" style="display:none;"> </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">@babonline.Cancel</a>
        <a href="#" class="btn btn-success" id="police-ara-btn" data-loading-text="Aranıyor">@babonline.Search</a>
    </div>
</div>
