@using Neosinerji.BABOnlineTP.Web.Content.Lang;
@model Neosinerji.BABOnlineTP.Web.Areas.TVM.Models.KullaniciNotEkleModel

<div id="not-ekle-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3>@babonline.Node_Add</h3>
    </div>
    <div class="modal-body">
        <form id="not-ekle-form" class="form-horizontal" name="not-ekle-form">
            @{ Html.EnableClientValidation(true); }
            @Html.ValidationSummary(true, @babonline.Message_GenericErrorHeader)
            @Html.AntiForgeryToken()

            <div class="control-group">
                <label class="control-label">@babonline.Preference  <span class="required">*</span></label>
                <div class="controls">
                    @Html.DropDownListFor(s => s.Oncelik, Model.Oncelikler, new { style = "width:90%" })
                    @Html.ValidationMessageFor(s => s.Oncelik)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@babonline.Topic<span class="required">*</span></label>
                <div class="controls">
                    @Html.TextBoxFor(s => s.Konu, new { style = "width:90%" })
                    @Html.ValidationMessageFor(s => s.Konu)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@babonline.Description<span class="required">*</span></label>
                <div class="controls">
                    @Html.TextAreaFor(s => s.Aciklama, new { style = "width:90%" })
                    @Html.ValidationMessageFor(s => s.Aciklama)
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">@babonline.Cancel</a>
        <a href="#" class="btn btn-success" data-loading-text="@babonline.Message_Loading" id="btn-not-kaydet"><i class="icon-ok">&nbsp;</i>@babonline.Save</a>
    </div>
</div>
