@using Neosinerji.BABOnlineTP.Web.Content.Lang
@using Neosinerji.BABOnlineTP.Web.Areas.Teklif.Models
@using Neosinerji.BABOnlineTP.Web.Tools.Helpers
@model EskiPoliceModel

<div class="control-group">
    <label class="control-label">@babonline.OldPolicy</label>
    <div class="controls">
        @Html.SwitchButtonFor(m => m.EskiPoliceVar, new string[] { babonline.Have, babonline.Havent }, new { })
    </div>
</div>
<div id="eski-police" style="display:none;">
     <div class="control-group">
        <label class="control-label">@babonline.InsuranceCompany Kodu</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.SigortaSirketKodu, new { maxlength = 3, autocompletetype = "off", style = "width:150px;", @class="ignore"  })
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@babonline.InsuranceCompany</label>
        <div class="controls">
            @Html.DropDownListFor(m => m.SigortaSirketiKodu, Model.SigortaSirketleri, new { style = "width:200px;", @class="ignore" })
            @Html.ValidationMessageFor(m => m.SigortaSirketiKodu)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@babonline.AgencyNo</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.AcenteNo, new { maxlength=30, autocompletetype="off", style = "width:150px;", @class="ignore" })
            @Html.ValidationMessageFor(m => m.AcenteNo)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@babonline.PolicyNo</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.PoliceNo, new { maxlength=30, autocompletetype="off", style = "width:150px;", @class="ignore" })
            @Html.ValidationMessageFor(m => m.PoliceNo)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@babonline.RenewalNo</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.YenilemeNo, new { maxlength=5, autocompletetype="off", style = "width:150px;", @class="ignore" })
            @Html.ValidationMessageFor(m => m.YenilemeNo)
        </div> 
    </div>  
     <div class="control-group">
        <label class="control-label">@babonline.OperationType</label>
        <div class="controls">
            @Html.DropDownListFor(m => m.TramerIslemTipi, Model.TramerIslemTipleri, new { style = "width:200px;", @class="ignore" })
        </div> 
    </div>

</div>