@using Neosinerji.BABOnlineTP.Web.Content.Lang
@using Neosinerji.BABOnlineTP.Web.Areas.Teklif.Models
@using Neosinerji.BABOnlineTP.Web.Tools.Helpers
@model OdemeBilgileriModel


<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.Net_Premium</label>
            <div class="controls">
                <label class="control">@Model.NetPrim</label>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.TaxExpense</label>
            <div class="controls">
                <label class="control">@Model.GiderVergisi</label>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.GH</label>
            <div class="controls">
                <label class="control">@Model.GH</label>
            </div>
        </div>
    </div>
</div>


<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.TrafficServicesDevelopmentFund_small</label>
            <div class="controls">
                <label class="control">@Model.THGF</label>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.TotalTax</label>
            <div class="controls">
                <label class="control">@Model.ToplamVergi</label>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.TotalAmount</label>
            <div class="controls">
                <label class="control">@Model.ToplamTutar</label>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">@babonline.Comment</label>
            <div class="controls">
                <label class="control">@Model.Aciklama</label>
            </div>
        </div>
    </div>
</div>

