@using Neosinerji.BABOnlineTP.Web.Content.Lang
@using Neosinerji.BABOnlineTP.Web.Areas.Musteri.Models

@using Neosinerji.BABOnlineTP.Database.Models
@using menu = Neosinerji.BABOnlineTP.Business.Common

@model AdresListModel

@{
    bool silme = false;

    List<KullaniciYetkiModel> altMenuler = ViewBag.AltMenuler;
    KullaniciYetkiModel altmenu = altMenuler.Where(s => s.MenuKodu == menu.AltMenuler.AraGuncelle).FirstOrDefault();

    if (altmenu != null)
    {
        if (altmenu.Silme == 1)
        { silme = true; }
    }
}

<table id="adresler-table" class="table table-striped table-bordered table-hover dataTable data-table">
    <thead>
        <tr>
            <th style="width: 80px">@babonline.Address_Type</th>
            <th style="width: 70px">@babonline.Country</th>
            <th>@babonline.City</th>
            <th>@babonline.District</th>
            <th>@babonline.Address</th>
            <th style="width: 95px;">@babonline.Contact_Address</th>
            @if (Model.sayfaAdi == "guncelle")
            {
                <th style="width: 30px;">&nbsp;</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.AdresTipiText</td>
                <td>@item.UlkeAdi</td>
                <td>@item.IlAdi</td>
                <td>@item.IlceAdi</td>
                @if (Model.sayfaAdi == "guncelle")
                {
                    <td><a href="javascript:void(0)" musteri-kodu="@item.MusteriKodu" sira-no="@item.SiraNo" class="adres-guncelle">@item.Adres</a></td>
                }
                else
                {
                    <td>@item.Adres</td>
                }
                @if (item.Varsayilan == true)
                {
                    <td><i class="icon-check">&nbsp</i></td>}
                else
                {
                    <td>&nbsp;</td>}

                @if (Model.sayfaAdi == "guncelle")
                {
                    <td>
                        <div class="btn-group">
                            @if (item.guncellenebilecekMi)
                            {
                                <a href="javascript:void(0)" musteri-kodu="@item.MusteriKodu" sira-no="@item.SiraNo" class="btn btn-mini btn-success adres-guncelle">@babonline.Edit</a>
                            }
                            else if (silme)
                            {
                                <a href="javascript:void(0)" musteri-kodu="@item.MusteriKodu" sira-no="@item.SiraNo" class="btn btn-mini btn-success adres-guncelle">@babonline.Edit</a>
                            }
                            @if (silme)
                            {
                                <a href="javascript:void(0)" musteri-kodu="@item.MusteriKodu" sira-no="@item.SiraNo" class="btn btn-mini btn-danger delete-adres">@babonline.Delete</a>}
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
