@using Neosinerji.BABOnlineTP.Web.Content.Lang
@using Neosinerji.BABOnlineTP.Web.Areas.Teklif.Models
@using Neosinerji.BABOnlineTP.Web.Tools.Helpers
@model KaskoDainiMurtein

<div class="control-group">
    <label class="control-label">@babonline.DainiLossPayee</label>
    <div class="controls">
        @Html.SwitchButtonFor(m => m.DainiMurtein, new string[] { babonline.Have, babonline.Havent }, new { })
    </div>
</div>
<div id="dainimurtein" style="display:none;">
    <div class="control-group">
        <label class="control-label">@babonline.TaxNumber</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.KimlikNo, new { maxlength=10, autocompletetype="off", @class="onlynumbers ignore" })
            <button class="btn btn-primary" id="btn-daini-sorgula" data-loading-text="@babonline.QueryIndicator" type="button">@babonline.Query</button>
            <div id="daini-sorgu-hata" style="display: none; color: #b94a48;"></div>
            @Html.ValidationMessageFor(m => m.KimlikNo)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@babonline.NameTitle
        </label>
        <div class="controls">
            @Html.TextBoxFor(m => m.Unvan, new { disabled="disabled", maxlength=100, autocompletetype="off", @class="input-xxlarge ignore" })
            @Html.ValidationMessageFor(m => m.Unvan)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@babonline.InstitutionType</label>
        <div class="controls">
            @Html.DropDownListFor(m => m.KurumTipi, Model.KurumTipleri, new{ @class="ignore" })
            @Html.ValidationMessageFor(m => m.KurumTipi)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@babonline.Institution</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.KurumKodu1, new { style = "width:60px;margin-right:10px;", @class="onlynumbers ignore" })
            @Html.DropDownListFor(m => m.KurumKodu, Model.Kurumlar, babonline.PleaseSelect , new{ @class="ignore" })
            @Html.ValidationMessageFor(m => m.KurumKodu)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@babonline.OfficeCode</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.SubeKodu, new { style="width:100px;"} )
        </div>
    </div>
</div>