@using Neosinerji.BABOnlineTP.Web.Content.Lang
@model Neosinerji.BABOnlineTP.Web.Areas.Manage.Models.MenuIslemModel

@section HorizontalMenu
{
    <ul class="nav">
        <li><a href="/Manage/Menu/Liste">@babonline.Menus<span></span></a></li>
        <li><a href="/Manage/Menu/MenuIslemListe">@babonline.MenuOperation_Search<span></span></a></li>
        <li class="active">
            <a href="#">@babonline.Add<span class="selected"></span></a>
        </li>
        <li>
            <span class="hor-menu-search-form-toggler">&nbsp;</span>
            <div class="search-form hidden-phone hidden-tablet">
                <form class="form-search">
                    <div class="input-append">
                        <input type="text" placeholder="@babonline.Search2" class="m-wrap">
                        <button type="button" class="btn"></button>
                    </div>
                </form>
            </div>
        </li>
    </ul>
}

@section PageHeader
{

}

<div class="portlet box light-grey " style="margin-top: 24px;">
    <div class="portlet-title">
        <div class="caption"><i class="icon-reorder"></i>@babonline.MenuOperation_Add</div>
    </div>
    <div class="portlet-body form">
        @using (Html.BeginForm("MenuIslemEkle", "Menu", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            Html.EnableClientValidation(true);
            <div class="control-group">
                <label class="control-label">URL  <span class="required">*</span></label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.URL, new { maxlength = 100, autocompletetype = "disabled" })
                    @Html.ValidationMessageFor(m => m.URL)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@babonline.Operation_Id<span class="required">*</span></label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.IslemId, new { maxlength = 50, autocompletetype = "disabled" })
                    @Html.ValidationMessageFor(m => m.IslemId)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Icon   <span class="required">*</span></label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Icon, new { maxlength = 50, autocompletetype = "disabled" })
                    @Html.ValidationMessageFor(m => m.Icon)
                </div>
            </div>
            <div class="form-actions">
                <button class="btn btn-success"><i class="icon-ok">&nbsp;</i>@babonline.Save</button>
                <a class="btn" href="~/Manage/Menu/MenuIslemListe">@babonline.Cancel</a>
            </div>
        }
    </div>
</div>

