@using Neosinerji.BABOnlineTP.Web.Content.Lang
@using Neosinerji.BABOnlineTP.Web.Areas.Manage.Models
@using Neosinerji.BABOnlineTP.Database.Models
@using menu = Neosinerji.BABOnlineTP.Business.Common
@using Neosinerji.BABOnlineTP.Web.Tools.Helpers
@model KullaniciModel

@{
}

@section HorizontalMenu
{
    <ul class="nav">

        <li>
            <a href="~/Manage/Kullanici/Liste">@babonline.SearchUser<span></span></a>
        </li>
        <li class="active">
            <a href="#">@babonline.AddUser<span class="selected"></span></a>
        </li>
        <li>
            <span class="hor-menu-search-form-toggler">&nbsp;</span>
            <div class="search-form hidden-phone hidden-tablet">
                <form class="form-search">
                    <div class="input-append">
                        <input type="text" placeholder="@babonline.Search2" class="m-wrap">
                        <button type="button" class="btn"></button>
                    </div>
                </form>
            </div>
        </li>
    </ul>
}

@section PageHeader
{}

@section PageScripts
{
    @Scripts.Render("~/bundles/dataTable")
    @Scripts.Render("~/bundles/phoneinputjs")
    <script>
        $(document).ready(function () {
            $("[rel=tooltip]").tooltip();

            var tvmfinder = $("#TVMKodu").tvmfinder(function (tvm) {
                $("#DepartmanKodu").tvmdepartmanlar(tvm.kodu);
                $("#YetkiGrubu").tvmyetkiler(tvm.kodu);

                //if (tvm.kodu == "105") {
                //    $("#apymi").show();
                //}
                //else { $("#apymi").hide(); }

                var userfinder = $("#YoneticiKodu").userfinder("TVMKodu");
                userfinder.enable();
            });
            tvmfinder.enable();


        });
    </script>

}
<div class="portlet box light-grey " style="margin-top: 24px;">
    <div class="portlet-title">
        <div class="caption"><i class="icon-reorder"></i>@babonline.AddUser</div>
    </div>
    <div class="portlet-body form">
        @using (Html.BeginForm("Ekle", "Kullanici", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            Html.EnableClientValidation(true);
            @Html.ValidationSummary(true, @babonline.Message_GenericErrorHeader)
            @Html.AntiForgeryToken();

            <div class="control-group">
                <label class="control-label">@babonline.SalesChannelConnected  <span class="required">*</span></label>

                <div class="controls">
                    @Html.TVMFinderFor(m => m.TVMKodu, Model.TVMUnvani)
                    @Html.ValidationMessageFor(m => m.TVMKodu)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">TCKN   <span class="required">*</span> </label>

                <div class="controls">
                    @Html.TextBoxFor(m => m.TCKN, new { maxlength = 11, autocompletetype = "disabled", style = "width:110px; float:left", @class = "onlynumbers", minlength = 11, pattern = ".{11,11}", title = babonline.Message_TCKN_least_11 }, babonline.Customer_TypeCode_Tooltip)
                    @Html.ValidationMessageFor(m => m.TCKN)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@babonline.Name    <span class="required">*</span></label>

                <div class="controls">
                    @Html.TextBoxFor(m => m.Adi, new { maxlength = 30, autocompletetype = "disabled", style = "width:200px;", @class = "onlyalpha" })
                    @Html.ValidationMessageFor(m => m.Adi)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@babonline.Lastname  <span class="required">*</span></label>

                <div class="controls">
                    @Html.TextBoxFor(m => m.Soyadi, new { maxlength = 30, autocompletetype = "disabled", style = "width:200px;", @class = "onlyalpha" })
                    @Html.ValidationMessageFor(m => m.Soyadi)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@babonline.TVMUser_Department   <span class="required">*</span></label>

                <div class="controls">
                    @Html.DropDownListFor(m => m.DepartmanKodu, Model.Departmanlar, new { style = "width:200px;" })
                    @Html.ValidationMessageFor(m => m.DepartmanKodu)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@babonline.TVMUser_AuthorityGroup <span class="required">*</span></label>

                <div class="controls">
                    @Html.DropDownListFor(m => m.YetkiGrubu, Model.Yetkiler, new { style = "width:200px;" })
                    @Html.ValidationMessageFor(m => m.YetkiGrubu)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@babonline.TVMUser_Job <span class="required">*</span></label>

                <div class="controls">
                    @Html.DropDownListFor(m => m.Gorevi, Model.GorevTipleri, new { style = "width:200px;" })
                    @Html.ValidationMessageFor(m => m.Gorevi)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@babonline.Manager   <span class="required">*</span></label>

                <div class="controls">
                    @Html.TVMKullaniciFinderFor(m => m.YoneticiKodu, Model.YoneticiAdi)
                    @Html.ValidationMessageFor(m => m.YoneticiKodu)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@babonline.TVMUser_TechnicalPersonnelCode</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.TeknikPersonelKodu, new { maxlength = 30, autocompletetype = "disabled", style = "width:200px;" })
                    @Html.ValidationMessageFor(m => m.TeknikPersonelKodu)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@babonline.TVMUser_Phone</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Telefon, new { style = "width:200px;", data_format = "dd-ddd-ddddddd", maxlength = 14, minlength = 14, pattern = ".{14,14}", @class = "input-medium bfh-phone", placeholder = "90-212-5554477", title = babonline.Message_PhoneFormat })
                    @Html.ValidationMessageFor(m => m.Telefon)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@babonline.TVMUser_MobilePhone</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.CepTelefon, new { style = "width:200px", data_format = "dd-ddd-ddddddd", maxlength = 14, minlength = 14, pattern = ".{14,14}", @class = "input-medium bfh-phone", placeholder = "90-212-5554477", title = babonline.Message_PhoneFormat })
                    @Html.ValidationMessageFor(m => m.CepTelefon)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@babonline.SkypeNumber</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.SkypeNumara, new { maxlength = 20, autocompletetype = "disabled", style = "width:200px;" })
                    @Html.ValidationMessageFor(s => s.SkypeNumara)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@babonline.Email_Adress    <span class="required">*</span></label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Email, new { maxlength = 50, autocompletetype = "disabled", style = "width:200px;" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">@babonline.TVMUser_MTCode</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.MTKodu, new { maxlength = 15, autocompletetype = "disabled", style = "width:200px;" })
                    @Html.ValidationMessageFor(m => m.MTKodu)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@babonline.Status</label>
                <div class="controls">
                    <label class="control">
                        @if (Model.Durum == 1)
                        {
                            <span class="label label-success">@babonline.Active</span>
                        }
                        else
                        {
                            <span class="label label-important">@babonline.Pasive</span>
                        }
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@babonline.TVMUser_ProductionOffer</label>
                <div class="controls">
                    @Html.RadioButtonListFor(m => m.TeklifPoliceUretimi, Model.TeklifPoliceUretimTipleri)
                </div>
            </div>@*
                <div class="control-group" id="apymi" style="display: none;">
                    <label class="control-label">APY mi?</label>
                    <div class="controls">
                        @Html.RadioButtonListFor(m => m.APYmi, Model.TeklifPoliceUretimTipleri)
                    </div>
                </div>*@
            <div class="form-actions">
                <button class="btn btn-success"><i class="icon-ok">&nbsp;</i>@babonline.Save</button>
                <a class="btn" href="~/Manage/Kullanici/Liste">@babonline.Cancel</a>
            </div>
        }
    </div>
</div>

